<!-- Language list for browsers that do not have JS enabled -->
<ul id="languages" class="os">
<!--<li><a href="/ar">العربية</a></li>-->
<li><a href="/en">english - 4.0</a></li>
<li><a href="/de">deutsch - 3.0</a></li>
<li><a href="/el">ελληνικά - 3.0</a></li>
<li><a href="/es">español - 4.0</a></li>
<li><a href="/fr">français - 4.0</a></li>
<li><a href="/it">italiano - 3.0</a></li>
<li><a href="/ja">日本語 - 3.0</a></li>
<li><a href="/pt-br">português do Brasil - 3.0</a></li>
<li><a href="/ro">română - 3.0</a></li>
<li><a class="current" href="/ru">русский - 4.0</a></li>
<li><a href="/sv">svenska - 4.0</a></li>
<li><a href="/tr">türkçe - 4.0</a></li>
<li><a href="https://libreplanet.org/wiki/GPG_guide/Translation_Guide"><strong><span
style="color: #2F5FAA;">Переводи!</span></strong></a></li>
</ul>
