<!-- include virtual="head.html" -->

<!-- ~~~~~~~~~ GnuPG Header and introduction text  ~~~~~~~~~ -->

<header class="row" id="header">
<!-- include virtual="translist.html" -->
<div>
<h1>Самозащита электронной почты</h1>


<ul id="menu" class="os">
<li class="spacer">
<a href="index.html">GNU/Linux</a>
</li>
<li>
<a href="mac.html">Mac OS</a>
</li>
<li>
<a href="windows.html">Windows</a>
</li>
<li class="spacer"><a href="workshops.html">Научи друзей</a></li>
<li class="spacer"><a
href="https://fsf.org/share?u=https://u.fsf.org/zb&amp;t=Шифрование электронной почты для всех %40fsf">
Поделиться&nbsp;
<img src="//static.fsf.org/nosvn/enc-dev0/img/gnu-social.png" class="share-logo"
alt="[GNU Social]" />&nbsp;
<img src="//static.fsf.org/nosvn/enc-dev0/img/pump.io.png" class="share-logo"
alt="[Pump.io]" />&nbsp;
<img src="//static.fsf.org/nosvn/enc-dev0/img/reddit-alien.png" class="share-logo"
alt="[Reddit]" />&nbsp;
<img src="//static.fsf.org/nosvn/enc-dev0/img/hacker-news.png" class="share-logo"
alt="[Hacker News]" /></a></li>
</ul>
<!-- ~~~~~~~~~ FSF Introduction ~~~~~~~~~ -->
<div id="fsf-intro">
<h3>
<a href="http://u.fsf.org/ys">
<img alt="Фонд свободного программного обеспечения"
src="//static.fsf.org/nosvn/enc-dev0/img/fsf-logo.png">
</a>
</h3>

<div class="fsf-emphasis">
<p>Пожалуйста, внесите пожертвование для поддержки «Самозащиты
электронной почты». Нам нужно продолжать совершенствовать ее,
подготавливать новые материалы как те, что помогают людям из разных
уголков планеты сделать первый шаг в направлении защиты их
приватности.</p>
</div>

<p><a href="https://crm.fsf.org/civicrm/contribute/transact?reset=1&amp;id=14&amp;pk_campaign=email_self_defense&amp;pk_kwd=guide_donate">
<img alt="Пожертвуйте"
src="//static.fsf.org/nosvn/enc-dev0/img/en/donate.png" /></a></p>

</div><!-- End #fsf-intro -->

<!-- ~~~~~~~~~ Guide Introduction ~~~~~~~~~ -->
<div class="intro">
<p><a id="infographic" href="infographic.html"><img
src="//static.fsf.org/nosvn/enc-dev0/img/ru/infographic-button.png"
alt=" [ См. и делись нашими наглядными материалами ] " /></a>
Разбираться в шифровании электронной почты и настраивать его для
многих затруднительно. Вот почему помощь знакомым с GnuPG играет такую
важную роль в распространении шифрования. Даже если это только один
человек, это значит, что пользоваться шифрованием будет одним
человеком больше. В ваших силах помочь своим знакомым хранить свои
любовные послания в тайне и рассказать им о важности свободных
программ. Если вы пользуетесь GnuPG для посылки и получения
зашифрованных писем, вы вполне сможете провести занятие!</p>

</div><!-- End .intro -->

</div>
</header><!-- End #header -->

<!-- ~~~~~~~~~ Section 1: Get your friends or community interested>  ~~~~~~~~~ -->
<section style="padding-top: 0px;" class="row" id="section1">
<div style="padding-top: 0px;">

<!-- ~~~~~~~~~ section introduction: interspersed text  ~~~~~~~~~ -->
<div class="section-intro">
<p style="margin-top: 0px;" class="image"><img
src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/workshop-section1.png"></p>

<h2><em>#1</em> Заинтересуйте своих знакомых или сообщество</h2>

<p>Если вы слышите от знакомых жалобы на недостаток
приватности, спросите, не хотят ли они посетить занятие по
самозащите электронной почты. Если знакомые не жалуются, возможно, их
надо убедить. Может быть, вы слышали классический аргумент против
шифрования: «Если вам нечего скрывать, вам нечего бояться».</p>

<p>Вот некоторые соображения, которыми можно воспользоваться, чтобы
объяснить, почему стоит выучить GnuPG. Выберите и переформулируйте
по ситуации в сообществе:</p>

</div><!-- End .section-intro -->

<div class="main">
<h3>Сила больших чисел</h3>

<p>Каждый, кто решает сопротивляться массовой слежке с помощью
шифрования, облегчает сопротивление и для других людей. Сильное
шифрование как норма несет за собой серьезные последствия: это значит,
что у тех, кто больше всего нуждается в конфиденциальности, такие как
активисты и потенциальные информаторы, будет больше возможностей
узнать о шифровании. Если больше людей пользуется шифрованием для
большего количества задач, системам слежки труднее идентифицировать
тех, кто не может позволить себя найти; это выражает солидарность
с такими людьми.</p>

</div><!-- End .main -->

<div class="main">
<h3>Уважаемые люди, возможно, уже пользуются шифрованием</h3>

<p>Многие журналисты, обличители, активисты, исследователи пользуются
GnuPG, так что ваши знакомые, возможно, уже слышали о нескольких таких
людях. Можно поискать "BEGIN PUBLIC KEY BLOCK" + ключевое слово, чтобы
найти людей и организации, пользующиеся GnuPG, чей авторитет ваше
сообщество должно признавать.</p>

</div><!-- End .main -->

<div class="main">
<h3>Уважение тайны ваших знакомых</h3>

<p>Объективного способа определить, заключена ли в какой-то
корреспонденции тайна, не существует. Таким образом, лучше не
предполагать, что если вы считаете письмо к своему знакомому невинным,
то ваш знакомый (или агент слежки, если на то пошло!) с этим
согласится. Шифрование корреспонденции покажет вашим знакомым
уважение к ним.</p>
</div><!-- End .main -->

<div class="main">
<h3>Охрана частной жизни — норма в нецифровом мире</h3>

<p>В физическом мире мы принимаем как естественное средство
охраны частной жизни шторы на окнах, конверты, закрытые двери. Почему
в цифровом мире это должно быть по-другому?</p>

</div><!-- End .main -->

<div class="main">
<h3>Мы не должны доверять свои секреты почтовым службам</h3>

<p>Некоторые почтовые службы очень надежны, но у многих есть стимул не
охранять вашу тайну и безопасность. Для независимости в мире цифровой
техники мы как граждане должны построить свою собственную систему
безопасности снизу вверх.</p>
</div><!-- End .main -->

</div><!-- End #step-2a .step -->

</div>
</section><!-- End #section1 -->

<!-- ~~~~~~~~~ Section 2: Plan The Workshop  ~~~~~~~~~ -->
<section class="row" id="section2">
<div>
<!-- ~~~~~~~~~ section introduction: interspersed text  ~~~~~~~~~ -->
<div class="section-intro" style="border: none; padding-bottom: 0px; margin-bottom: 0px;">
<h2><em>#2</em> Планирование занятий</h2>

<p>Как только вы заинтересовали хотя бы одного знакомого, выберите
дату и начните планировать занятие. Попросите участников принести
компьютеры и удостоверения личности (чтобы подписать друг другу
ключи). Чтобы облегчить пользование Diceware, запаситесь набором
игральных костей. Позаботьтесь о том, чтобы в месте проведения
занятия было легко доступное соединение с Интернетом, и подготовьтесь
на случай, если в назначенный день соединение отключится. Библиотеки,
кафе и дома культуры отлично подойдут для проведения занятия.
Постарайтесь, чтобы все участники заблаговременно установили совместимую
с Enigmail почтовую программу. Если у них что-то не получается, направьте
их к системным администраторам их электронной почты.</p>

<p>Рассчитывайте, что на занятие потребуется по меньшей мере сорок
минут плюс десять минут на каждого участника. Оставьте дополнительное
время для вопросов и устранение технических неполадок.</p>

<p>Успех занятия зависит от понимания и приспособления к знаниям
и нуждам каждой группы участников. Количество участников должно быть
небольшим, чтобы каждый из них получал индивидуальные указания. Если
желающих окажется больше, чем несколько человек, найдите дополнительных
инструкторов или проведите несколько занятий, чтобы отношение количества
обучающих к количеству обучаемых оставалось небольшим. Лучше всего
проходят занятия между несколькими приятелями!</p>

</div><!-- End .section-intro -->

</div>
</section><!-- End #section2 -->

<!-- ~~~~~~~~~ Section 3: Follow The Guide  ~~~~~~~~~ -->
<section class="row" id="section3">
<div>
<!-- ~~~~~~~~~ section introduction: interspersed text  ~~~~~~~~~ -->
<div class="section-intro" style="border: none; padding-bottom: 0px; margin-bottom: 0px;">
<h2><em>#3</em> Пройдите руководство вместе</h2>

<p>Проработайте в группе руководство по самозащите электронной почты
шаг за шагом. Подробно обсудите каждый шаг, но не перегружайте
участников незначительными деталями. Подстраивайте основной объем
своих инструкций под самых малознакомых с техникой участников.
Убедитесь, что все участники прошли текущий шаг перед тем, как
переходить к следующему. Подумайте о дополнительных занятиях с теми,
кому понимание предмета дается с трудом, или с теми, кто легко его
схватывает и хотел бы узнать побольше.</p>

<p>Проходя <a href="index.html#section2">раздел 2</a> руководства
убедитесь, что участники отослали свои ключи на один и тот же сервер
ключей, чтобы они могли тут же получить ключи друг друга (иногда
синхронизация серверов друг с другом проходит с задержкой). В <a
href="index.html#section3">разделе 3</a> дайте участникам возможность
послать пробные сообщения друг другу вместо Эдварда (или в дополнение
к нему). Точно так же в <a href="index.html#section4">разделе 4</a>
поощряйте участников подписывать ключи друг у друга. Наконец, не
забудьте напомнить людям, чтобы они сохранили свои сертификаты отзыва
в безопасном месте.</p>

</div><!-- End .section-intro -->
</div>
</section>


<!-- ~~~~~~~~~ Section 4: Explain the pitfalls  ~~~~~~~~~ -->
<section class="row" id="section4">
<div>
	<!-- ~~~~~~~~~ section introduction: interspersed text  ~~~~~~~~~ -->
<div class="section-intro" style="border: none; padding-bottom: 0px; margin-bottom: 0px;">
<h2><em>#4</em> Разъясняйте трудные места</h2>

<p>Напоминайте участникам, что шифрование действует, только когда им
активно пользуются; они не смогут послать зашифрованное письмо тому,
у кого шифрование не налажено. Напоминайте также, что нужно
обращать внимание на пиктограммы шифрования перед отправкой писем
и что тема и дата письма никогда не шифруются.</p>

<p> Разъясняйте <a
href="//www.gnu.org/proprietary/proprietary.html">опасности
работы на несвободной системе</a> и популяризуйте свободные программы,
ведь без них у нас не может идти речи о том, чтобы <a
href="//www.fsf.org/bulletin/2013/fall/how-can-free-software-protect-us-from-surveillance">
отражать посягательства на нашу частную жизнь и автономию</a>.</p>

</div><!-- End .section-intro -->

</div>
</section><!-- End #section4 -->

<!-- ~~~~~~~~~ Section 5: Explain The Pitfalls  ~~~~~~~~~ -->
<section id="section5" class="row">
<div>
<!-- ~~~~~~~~~ section introduction: interspersed text  ~~~~~~~~~ -->
<div class="section-intro" style="border: none; padding-bottom: 0px; margin-bottom: 0px;">

<h2><em>#5</em> Ссылайтесь на дополнительные материалы</h2>

<p>Некоторые параметры GnuPG чересчур сложны, чтобы объяснить их на
одном занятии. Если участники хотят узнать больше, укажите на
дополнительные подразделы руководства и подумайте об организации
еще одного занятия. Можно также сослаться на официальную документацию по <a
href="https://www.gnupg.org/documentation/index.html">GnuPG</a> и
<a href="https://www.enigmail.net/documentation/index.php">
Enigmail</a>, а также на списки рассылки этих программ. На сайтах
многих дистрибутивов GNU/Linux есть также страница, поясняющая
некоторые сложные функции GnuPG.</p>

</div><!-- End .section-intro -->

</div>
</section><!-- End #section5 -->

<!-- ~~~~~~~~~ Section 6: Next steps  ~~~~~~~~~ -->
<section class="row" id="section6">
<div>
<!-- ~~~~~~~~~ section introduction: interspersed text  ~~~~~~~~~ -->
<div class="section-intro" style="border: none; padding-bottom: 0px; margin-bottom: 0px;">
<h2><em>#6</em> После занятий</h2>

<p>Убедитесь, что все обменялись адресами электронной почты и
отпечатками открытых ключей перед завершением занятия. Поощряйте
участников продолжить набирать опыт, переписываясь друг с другом.
Пошлите каждому из них через неделю после мероприятия по
зашифрованному письму, напоминая, чтобы они попробовали добавить
идентификатор своего ключа там, где они публикуют свой адрес
электронной почты.</p>

<p>Если у вас есть предложения по улучшению этого руководства по
занятиям, напишите нам по адресу <a
href="mailto:campaigns@fsf.org">campaigns@fsf.org</a>.</p>

</div><!-- End .section-intro -->

</div>
</section><!-- End #section6 -->

<!-- include virtual="footer.html" -->

<!-- include virtual="javascript.html" -->
