<!-- include virtual="head.i.html" -->
<!-- ~~~~~~~~~ GnuPG Header and introduction text ~~~~~~~~~ -->
<header class="row" id="header"><div>

<h1>Autodéfense courriel</h1>

<!-- include virtual="translist.i.html" -->
<ul id="menu" class="os">
<!-- START DELETION 01, KEEP IN index -->
<li class="spacer"><a href="index.html" class="current">GNU/Linux</a></li>
<li><a href="mac.html">Mac OS</a></li>
<li><a href="windows.html">Windows</a></li>
<!-- END DELETION 01 -->
<!-- START DELETION 02, KEEP IN mac -->
<li class="spacer"><a href="index.html">GNU/Linux</a></li>
<li><a href="mac.html" class="current">Mac OS</a></li>
<li><a href="windows.html">Windows</a></li>
<!-- END DELETION 02 -->
<!-- START DELETION 03, KEEP IN windows -->
<li class="spacer"><a href="index.html">GNU/Linux</a></li>
<li><a href="mac.html">Mac OS</a></li>
<li><a href="windows.html" class="current">Windows</a></li>
<!-- END DELETION 03 -->
<li class="spacer"><a href="workshops.html">Initiez vos amis</a></li>
<li class="spacer"><a
href="https://fsf.org/share?u=https://u.fsf.org/zb&amp;t=Chiffrement&nbsp;du&nbsp;courriel&nbsp;pour&nbsp;tous&nbsp;avec&nbsp;%40fsf">
Partagez&nbsp; <img src="//static.fsf.org/nosvn/enc-dev0/img/gnu-social.png"
class="share-logo"
alt="[GNU Social]" />&nbsp; <img src="//static.fsf.org/nosvn/enc-dev0/img/pump.io.png"
class="share-logo"
alt="[Pump.io]" />&nbsp; <img src="//static.fsf.org/nosvn/enc-dev0/img/reddit-alien.png"
class="share-logo"
alt="[Reddit]" />&nbsp; <img src="//static.fsf.org/nosvn/enc-dev0/img/hacker-news.png"
class="share-logo"
alt="[Hacker News]" /></a></li>
</ul>

<!-- ~~~~~~~~~ FSF Introduction ~~~~~~~~~ -->
<div id="fsf-intro">

<h3><a href="http://u.fsf.org/ys"> <img
alt="Free Software Foundation" src="//static.fsf.org/nosvn/enc-dev0/img/fsf-logo.png"
/></a> </h3>

<div class="fsf-emphasis">

<p> Nous défendons les droits des utilisateurs d'ordinateurs et soutenons le développement
de logiciels libres. Résister à la surveillance de masse est très important pour nous. </p>

<p><strong> Faites un don pour soutenir Autodéfense courriel. Nous devons continuer à
l'améliorer et écrire d'autres tutoriels du même genre pour aider les gens de tous les
pays à faire le premier pas vers la protection de leur vie privée.</strong> </p>

</div>

<p><a
href="https://crm.fsf.org/civicrm/contribute/transact?reset=1&amp;id=14&amp;pk_campaign=email_self_defense&amp;pk_kwd=guide_donate"><img
alt="[Faites un don]" src="//static.fsf.org/nosvn/enc-dev0/img/fr/donate.png" /></a> </p>

</div><!-- End #fsf-intro -->

<!-- ~~~~~~~~~ Guide Introduction ~~~~~~~~~ -->
<div class="intro">

<p><a id="infographic" href="infographic.html"><img
src="//static.fsf.org/nosvn/enc-dev0/img/fr/infographic-button.png"
alt="Regardez et partagez notre infographie &rarr;" /></a> La surveillance de masse viole
nos droits fondamentaux et fait planer un risque sur la liberté d'expression. Ce guide
vous apprendra les bases d'une méthode d'autodéfense contre la surveillance&nbsp;:
le chiffrement du courriel. Une fois que vous l'aurez assimilée, vous serez en mesure
d'envoyer et recevoir des courriels brouillés, et ainsi faire en sorte qu'un outil de
surveillance ou un voleur qui les intercepterait ne puisse pas les lire. Tout ce dont
vous avez besoin, c'est d'un ordinateur doté d'une connexion à Internet, d'un compte de
courriel et d'environ 40&nbsp;minutes.</p>

<p>Même si vous n'avez rien à cacher, l'utilisation du chiffrement vous aidera à protéger
la vie privée des personnes avec qui vous communiquez et rendra la tâche plus difficile
aux systèmes de surveillance de masse. Si en revanche vous avez quelque chose d'important
à cacher, vous serez en bonne compagnie&nbsp;; les lanceurs d'alertes utilisent ces outils
pour protéger leur identité alors qu'ils exposent au grand jour les atteintes aux droits
de l'homme, la corruption et autres crimes.</p>

<p>Outre l'utilisation du chiffrement, s'opposer à la surveillance exige un combat
politique visant à <a href="http://gnu.org/philosophy/surveillance-vs-democracy.html">
réduire la quantité de données amassées à notre sujet</a>, mais la première étape,
qui est essentielle, est de nous protéger de manière à rendre la surveillance de
nos communications aussi difficile que possible. Ce guide vous aide à le faire. Il est
destiné aux débutants, mais si vous avez déjà une connaissance de base de GnuPG ou
une certaine expérience du logiciel libre, vous apprécierez les conseils d'utilisation
avancée et le <a href="workshops.html"> guide pour initier vos amis</a>.</p>

<p>Note de traduction&nbsp;: la plupart des pages mises en lien sur ce site sont en
anglais.</p>

</div><!-- End .intro -->
</div></header><!-- End #header -->

<!-- ~~~~~~~~~ Section 1: Get the pieces ~~~~~~~~~ -->
<section class="row" id="section1"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro">

<h2><em>#1</em> Rassemblez les outils</h2>

<!-- START DELETION 04, KEEP IN index -->

<p class="notes">Ce guide repose sur des
<a href="https://www.gnu.org/philosophy/free-sw.en.html">logiciels sous licence
libre</a>&nbsp;; ils sont complètement transparents et n'importe qui peut les copier ou
en faire sa propre version. Cela les rend plus sûrs vis-à-vis de la surveillance que
les logiciels
privateurs (propriétaires) comme Windows ou Mac OS. Apprenez-en plus sur le logiciel
libre en parcourant <a
href="https://u.fsf.org/ys">fsf.org</a> ou bien, en français, <a
href="https://www.framasoft.net">framasoft.net</a> et <a
href="https://www.april.org">april.org</a>.</p>

<p>La plupart des systèmes d'exploitation GNU/Linux disposent déjà de GnuPG, vous n'avez
donc pas à le télécharger. Toutefois, avant de configurer GnuPG, vous aurez besoin
d'installer sur votre ordinateur le programme de courriel IceDove (que nous appellerons par
la suite «&nbsp;logiciel de messagerie&nbsp;» ou «&nbsp;programme de messagerie&nbsp;»,
sachant qu'il s'agit ici de courriel et non de messagerie instantanée). Dans la
plupart des distributions GNU/Linux, IceDove est installé par défaut (souvent sous
le nom de Thunderbird), sinon vous le trouverez dans les dépôts (quelquefois appelés
logithèque). Les logiciels de messagerie sont un moyen alternatif d'accéder aux comptes
de courriel (comme GMail) auxquels vous accédez habituellement via votre navigateur,
mais proposent des fonctionnalités supplémentaires.</p>
<!-- END DELETION 04 -->

<!-- START DELETION 05, KEEP IN mac windows -->

<p class="notes">Ce guide repose sur des logiciels sous licence libre&nbsp;; ils
sont complètement transparents et n'importe qui peut les copier ou en faire sa propre
version. Cela les rend plus sûrs vis-à-vis de la surveillance que les logiciels privateurs
(propriétaires) comme Windows ou Mac OS. Pour défendre votre
liberté et vous protéger de la surveillance, nous vous recommandons de migrer vers
un système d'exploitation libre comme GNU/Linux. Découvrez le logiciel libre sur <a
href="https://u.fsf.org/ys">fsf.org</a> ou bien, en français, <a
href="https://www.framasoft.net">framasoft.net</a> et <a
href="https://www.april.org">april.org</a>.</p>

<p>Pour commencer, vous aurez besoin d'installer le programme de courriel IceDove (que
nous appellerons par la suite «&nbsp;logiciel de messagerie&nbsp;» ou «&nbsp;programme
de messagerie&nbsp;», sachant qu'il s'agit ici de courriel et non de messagerie
instantanée). Dans votre système, ce logiciel est probablement connu sous son autre nom,
Thunderbird. Les logiciels de messagerie sont un moyen alternatif d'accéder aux comptes
de courriel (comme GMail) auxquels vous accédez habituellement via votre navigateur,
mais proposent des fonctionnalités supplémentaires.</p>
<!-- END DELETION 05 -->

<p>Si vous avez déjà un logiciel de messagerie, vous pouvez passer à l'<a
href="#step-1b">étape&nbsp;1.B</a>.</p>

</div><!-- End .section-intro -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-1a" class="step">
<div class="sidebar">

<p><img src="//static.fsf.org/nosvn/enc-dev0/img/fr/screenshots/step1a-install-wizard.png"
alt=" [Étape 1.A&nbsp;: Assistant d'installation (copie d'écran)] " /></p>

</div><!-- /.sidebar -->
<div class="main">

<h3><em>Étape 1.A</em> Configurez votre logiciel de messagerie avec votre compte de
courriel</h3>

<p>Lancez votre programme de messagerie et suivez les indications de l'assistant, qui vous
guidera pas à pas pour le configurer avec votre compte de courriel.</p>

<p>Cherchez les sigles SSL, TLS ou STARTTLS à la droite des serveurs lorsque vous
configurez votre compte. Si vous ne les trouvez pas, vous pourrez tout de même utiliser
le chiffrement, mais cela signifie que les personnes gérant votre système de courriel
sont en retard sur les standards de l'industrie en ce qui concerne la protection de votre
sécurité et de votre vie privée. Nous vous recommandons de leur envoyer un courriel
amical leur demandant d'activer SSL, TLS ou STARTTLS sur le serveur. Ils sauront de quoi
vous parlez&nbsp;; cela vaut donc la peine d'en faire la demande, même si vous n'êtes
pas expert(e) en sécurité informatique.</p>

<!-- ~~~~~~~~~ Troubleshooting ~~~~~~~~~ -->
<div class="troubleshooting">

<h4>Résolution de problèmes</h4>

<dl>
<dt>L'assistant ne démarre pas</dt>

<dd>Vous pouvez lancer l'assistant vous-même, mais l'option qui permet de le faire a un
nom différent dans chaque programme de messagerie. Vous la trouverez dans la rubrique
«&nbsp;[Fichier/]Nouveau&nbsp;» du menu principal (ou quelque chose d'approchant),
sous un nom du genre «&nbsp;Ajouter un compte&nbsp;» ou «&nbsp;Compte
courrier existant&nbsp;».</dd>

<dt>Mon programme de messagerie ne trouve pas mon compte ou ne télécharge pas mes
courriels.</dt>

<dd>Avant de chercher sur le web, nous vous conseillons de commencer par demander à
d'autre personnes qui utilisent le même système de messagerie de vous indiquer les bons
paramètres.</dd>

<dt class="feedback">Vous ne trouvez pas de solution à votre problème&nbsp;?</dt>

<dd class="feedback">Merci de nous le faire savoir sur <a
href="https://libreplanet.org/wiki/GPG_guide/Public_Review">la page de commentaires</a>.</dd>
</dl>

</div><!-- /.troubleshooting -->
</div><!-- End .main -->
</div><!-- End #step1-a .step -->
<!-- START DELETION 06, KEEP IN mac -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-1b" class="step">
<div class="main">

<h3><em>Étape 1.B</em> Procurez-vous GnuPG en téléchargeant GPGTools</h3>

<p>GPGTools est un logiciel qui inclut GnuPGP. <a href= "https://gpgtools.org/#gpgsuite">
Téléchargez-le</a>, et installez-le en choisissant les options par défaut. Ensuite,
vous pouvez fermer toutes les fenêtres créées par l'installateur.</p>

</div><!-- End .main -->
</div><!-- End #step1-b .step -->
<!-- END DELETION 06 -->
<!-- START DELETION 07, KEEP IN windows -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-1b" class="step">
<div class="main">

<h3><em>Étape 1.B</em> Procurez-vous GnuPG en téléchargeant GPG4Win</h3>

<p>GPG4Win est un logiciel qui inclut GnuPGP. <a
href="http://files.gpg4win.org/gpg4win-2.2.1.exe"> Téléchargez-le</a>, et installez-le
en choisissant les options par défaut. Ensuite, vous pouvez fermer toutes les fenêtres
créées par l'installateur.</p>

</div><!-- End .main -->
</div><!-- End #step1-b .step -->
<!-- END DELETION 07 -->
<!-- START DELETION 08, KEEP IN index -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-1b" class="step">
<div class="sidebar">
<ul class="images">
<li><img src="//static.fsf.org/nosvn/enc-dev0/img/fr/screenshots/step1b-01-tools-addons.png"
alt=" [Étape 1.B&nbsp;: Outils -> Modules complémentaires (copie d'écran)] " /></li>
<li><img src="//static.fsf.org/nosvn/enc-dev0/img/fr/screenshots/step1b-02-search.png"
alt=" [Étape 1.B&nbsp;: Rechercher dans tous les modules (copie d'écran)] " /></li>
<li><img src="//static.fsf.org/nosvn/enc-dev0/img/fr/screenshots/step1b-03-install.png"
alt=" [Étape 1.B&nbsp;: Installer un module (copie d'écran)] " /></li>
</ul>

</div><!-- /.sidebar -->
<div class="main">

<h3><em>Étape 1.B</em> Installez le module Enigmail pour votre programme de messagerie</h3>

<!-- END DELETION 08 -->
<!-- START DELETION 09, KEEP IN mac windows -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-1c" class="step">
<div class="sidebar">
<ul class="images">
<li><img src="//static.fsf.org/nosvn/enc-dev0/img/fr/screenshots/step1b-01-tools-addons.png"
alt=" [Étape 1.C&nbsp;: Outils -> Modules complémentaires (copie d'écran)] " /></li>
<li><img src="//static.fsf.org/nosvn/enc-dev0/img/fr/screenshots/step1b-02-search.png"
alt=" [Étape 1.C&nbsp;: Rechercher dans tous les modules (copie d'écran)] " /></li>
<li><img src="//static.fsf.org/nosvn/enc-dev0/img/fr/screenshots/step1b-03-install.png"
alt=" [Étape 1.C&nbsp;: Installer un module (copie d'écran)] " /></li>
</ul>

</div><!-- /.sidebar -->
<div class="main">

<h3><em>Étape 1.C</em> Installez le module Enigmail pour votre programme de messagerie</h3>

<!-- END DELETION 09 -->

<p>Dans le menu de votre programme de messagerie, sélectionnez
«&nbsp;Modules complémentaires&nbsp;» (qui devrait se trouver dans la section
«&nbsp;Outils&nbsp;»). Assurez-vous qu'«&nbsp;Extensions&nbsp;» est sélectionné sur
la gauche. Voyez-vous «&nbsp;Enigmail&nbsp;»&nbsp;? Si oui, passez à
l'étape suivante.</p>

<p>Sinon, faites une recherche sur «&nbsp;Enigmail&nbsp;» dans la partie supérieure
droite de la fenêtre. Vous pouvez le récupérer par ce moyen. Redémarrez votre programme
de messagerie lorsque vous aurez terminé.</p>

<!-- ~~~~~~~~~ Troubleshooting ~~~~~~~~~ -->
<div class="troubleshooting">

<h4>Résolution de problèmes</h4>

<dl>
<dt>Je ne trouve pas le menu.</dt>

<dd>Dans beaucoup de logiciels de messagerie récents, le menu principal est représenté
par trois barres horizontales.</dd>

<dt>Mon courriel à l'air bizarre</dt>

<dd>Enigmail ne fait pas bon ménage avec le HTML utilisé pour la mise en page des courriels,
donc il se peut qu'il le désactive automatiquement. Pour envoyer un courriel au format HTML
sans chiffrement ni signature, maintenez la touche Maj enfoncée en sélectionant Écrire. De
cette façon, vous pouvez rédiger un message comme si Enigmail n'était pas là.</dd>

<dt class="feedback">Vous ne trouvez pas de solution à votre problème&nbsp;?</dt>

<dd class="feedback">Merci de nous le faire savoir sur <a
href="https://libreplanet.org/wiki/GPG_guide/Public_Review">la page de commentaires</a>.</dd>
</dl>

</div><!-- /.troubleshooting -->
</div><!-- End .main -->
</div><!-- End #step-1b .step -->
</div></section><!-- End #section1 -->

<!-- ~~~~~~~~~ Section 2: Make your keys ~~~~~~~~~ -->
<section class="row" id="section2"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro">

<h2><em>#2</em> Fabriquez vos clefs</h2>

<p>Pour utiliser le système GnuPG, vous allez avoir besoin d'une clef publique et d'une
clef privée (l'ensemble des deux est appelé «&nbsp;paire de clefs&nbsp;»). Chacune
d'elles est une longue suite de chiffres et de lettres, générés aléatoirement, qui
vous est propre. Vos clefs publique et privée sont liées entre elles par une fonction
mathématique spécifique.</p>

<p>Votre clef publique n'est pas comme une clef physique, car elle est stockée dans un
répertoire en ligne ouvert à tous, appelé «&nbsp;serveur de clefs&nbsp;». Les gens
téléchargent et utilisent votre clef publique, au travers de GnuPG, pour chiffrer les
courriels qu'ils vous envoient. Vous pouvez vous représenter le serveur de clefs comme
un annuaire ; les gens qui souhaitent vous envoyer un courriel chiffré peuvent le
consulter pour trouver votre clef publique.</p>

<p>Votre clef privée se rapproche plus d'une clef physique, parce que vous la gardez pour
vous (sur votre ordinateur). Vous utilisez GnuPG et votre clef privée pour décoder les
courriels chiffrés que les autres personnes vous envoient. <span style="font-weight:
bold;">Vous ne devez en aucun cas communiquer votre clef privée à qui que ce
soit.</span></p>

<p>À part chiffrer et déchiffrer, ces clés peuvent vous servir à signer des messages
et à vérifier l'authenticité des signatures d'autres personnes. Nous y reviendrons dans
la prochaine section.</p>

</div><!-- End .section-intro -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-2a" class="step">
<div class="sidebar">

<p><img src="//static.fsf.org/nosvn/enc-dev0/img/fr/screenshots/step2a-01-make-keypair.png"
alt=" [Étape 2.A&nbsp;: créez une paire de clefs (Edward le robot brandit ses deux clefs
avec un grand sourire)] " /></p>

</div><!-- /.sidebar -->
<div class="main">

<h3><em>Étape 2.A</em> Créez une paire de clefs</h3>

<p>L'assistant d'installation d'Enigmail démarrera peut-être automatiquement. Si ce n'est
pas le cas, selectionnez «&nbsp;Enigmail &rarr; Assistant de configuration&nbsp;» dans
le menu de votre logiciel de messagerie. Vous n’avez pas besoin de lire le texte dans la
fenêtre pop-up, sauf si vous le souhaitez, mais c’est une bonne idée de lire ce qui
apparaît dans les fenêtres suivantes. Si vous avez plusieurs comptes de courriel, une
fenêtre intitulée «&nbsp;Sélectionnez une identité&nbsp;» vous demandera de choisir
à quel compte (quelle adresse de courriel) cette configuration doit s'appliquer. Ensuite,
cliquez sur «&nbsp;Suivant&nbsp;» en acceptant les options par défaut, sauf dans les
fenêtres suivantes (citées dans l'ordre où elles se présenteront).</p>

<ul>
<li>Dans la fenêtre «&nbsp;Chiffrement&nbsp;», choisissez «&nbsp;Chiffrer tous mes
messages par défaut car la vie privée est critique pour moi&nbsp;».</li>

<li>Dans la fenêtre «&nbsp;Signature&nbsp;», choisissez «&nbsp;Ne pas signer mes messages
par défaut&nbsp;».</li>

<li>Dans la fenêtre «&nbsp;Sélection de clef&nbsp;», choisissez «&nbsp;Je veux créer
une nouvelle paire de clefs pour signer et chiffrer mes messages&nbsp;».</li>

<li>Dans la fenêtre «&nbsp;Créer une clef&nbsp;», choisissez un mot de passe
solide&nbsp;! Vous pouvez le faire manuellement ou utiliser la méthode Diceware. La
méthode manuelle est plus rapide mais moins sûre. Utiliser Diceware est plus long et
nécessite des dés, mais crée un mot de passe que d'éventuels attaquants auront plus
de mal à deviner. La méthode est expliquée dans le paragraphe «&nbsp;Make a secure
passphrase with Diceware&nbsp;» (Fabriquez un mot de passe sûr avec Diceware) de <a
href="https://theintercept.com/2015/03/26/passphrases-can-memorize-attackers-cant-guess/">
cet article</a>, écrit par Micah Lee.</li>
</ul>

<p>Si vous voulez choisir vous-même votre mot de passe, trouvez quelque chose dont
vous puissiez vous souvenir et qui ait douze caractères au minimum, dont au moins une
lettre minuscule, une majuscule et un chiffre ou caractère non conventionnel (signe
de ponctuation, par exemple). Ne reprenez jamais un mot de passe qui a vous déjà servi
ailleurs et n'utilisez pas de motif reconnaissable (date de naissance, numéro de téléphone,
nom du chien, paroles de chanson, citation de livre, etc.)</p>

<p class="notes">Le programme prendra un peu de temps pour terminer l’étape suivante
dans la fenêtre «&nbsp;Création de la clef&nbsp;». Pendant que vous attendez, faites
quelque chose avec votre ordinateur, comme regarder un film ou naviguer sur le web. Plus
vous utilisez votre ordinateur pendant ce temps, plus vite ira la création de la clef.</p>

<p>Quand vous verrez apparaître «&nbsp;Génération de la clef terminée&nbsp;!&nbsp;»,
sélectionnez «&nbsp;Générer le certificat&nbsp;» et choisissez de le sauvegarder
dans un endroit sûr de votre ordinateur (nous vous recommandons de créer un dossier
«&nbsp;certificat de révocation&nbsp;» dans votre répertoire personnel pour le
conserver). Cette étape est essentielle pour l'autodéfense de votre courriel, comme vous
le verrez dans la <a href="#section5">section&nbsp;5</a>.</p>

<!-- ~~~~~~~~~ Troubleshooting ~~~~~~~~~ -->
<div class="troubleshooting">

<h4>Résolution de problèmes</h4>

<dl>
<dt>Je ne trouve pas le menu d'Enigmail.</dt>

<dd>Dans beaucoup de logiciels de messagerie récents, le menu principal est
représenté par trois barres horizontales. Enigmail peut être dans la section appelée
«&nbsp;Outils&nbsp;».</dd>
<!-- START DELETION 10, KEEP IN index -->
<dt>L'assistant d'installation ne trouve pas GnuPG.</dt>

<dd>Ouvrez votre programme d'installation de logiciel (ou logithèque) préféré et cherchez
GnuPG, puis installez-le. Enfin relancez l'assistant en allant dans «&nbsp;Enigmail &rarr;
Assistant de configuration&nbsp;».</dd>
<!-- END DELETION 10 -->
<dt>Mon courriel a l'air bizarre</dt>

<dd>Enigmail ne fait pas bon ménage avec le HTML utilisé pour la mise en page des courriels,
donc il se peut qu'il le désactive automatiquement. Pour envoyer un courriel au format HTML
sans chiffrement ni signature, maintenez la touche Maj enfoncée en sélectionant Écrire. De
cette façon, vous pouvez rédiger le message comme si Enigmail n'était pas là.</dd>

<dt>Ressources supplémentaires</dt>

<dd>Si vous avez des difficultés avec notre tutoriel ou que vous
voulez simplement en savoir plus, consultez dans le wiki d'Enigmail la <a
href="https://enigmail.wiki/Key_Management#Generating_your_own_key_pair"> marche à suivre
pour générer une paire de clefs</a>.</dd>

<dt class="feedback">Vous ne trouvez pas de solution à votre problème&nbsp;?</dt>

<dd class="feedback">Merci de nous le faire savoir sur <a
href="https://libreplanet.org/wiki/GPG_guide/Public_Review">la page de commentaires</a>.</dd>
</dl>

</div><!-- /.troubleshooting -->
<!-- ~~~~~~~~~ Advanced ~~~~~~~~~ -->
<div class="troubleshooting">
<h4>Utilisation avancée</h4>

<dl>
<dt>Génération de clef en ligne de commande</dt>

<dd>Si vous préférez utiliser la ligne de commande pour avoir
un meilleur contrôle, vous pouvez suivre la documentation du <a
href="https://www.gnupg.org/gph/en/manual/c14.html#AEN25">GNU Privacy Handbook</a> (Manuel
de GnuPG). Gardez l'option «&nbsp;RSA et RSA&nbsp;» (sélectionnée par défaut), parce
que cette méthode est plus récente et mieux sécurisée que les algorithmes recommandés
dans la documentation. Assurez-vous également que votre clef soit d'au moins 2048 bits,
ou même 4096 pour une dose de sécurité supplémentaire.</dd>

<dt>Paires de clefs évoluées</dt>

<dd>Lorsque GnuPG crée une nouvelle paire de clefs, il sépare la
fonction de chiffrement de la fonction de signature grâce à des <a
href="https://wiki.debian.org/Subkeys">sous-clefs</a>. En utilisant
correctement les sous-clefs, vous pouvez mieux sécuriser votre identité
GnuPG et vous remettre d'une clef compromise beaucoup plus rapidement. <a
href="https://alexcabal.com/creating-the-perfect-gpg-keypair/">Alex Cabal</a> et le <a
href="http://keyring.debian.org/creating-key.html">Wiki Debian</a> proposent de bons guides
pour mettre en place une configuration de sous-clefs sûre.</dd>
</dl>

</div><!-- /.troubleshooting -->
</div><!-- End .main -->
</div><!-- End #step-2a .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-2b" class="step">
<div class="main">

<h3><em>Étape 2.B</em> Envoyez votre clef publique sur un serveur de clefs</h3>

<p>Dans le menu de votre programme de messagerie, sélectionnez «&nbsp;Enigmail &rarr;
Gestion de clefs&nbsp;».</p>

<p>Faites un clic droit sur votre clef et sélectionnez «&nbsp;Envoyer les clefs publiques
vers un serveur de clefs&nbsp;». Utilisez le serveur proposé par défaut.</p>

<p class="notes">À partir de maintenant, si quelqu’un souhaite vous envoyer un message
chiffré, il peut télécharger votre clef publique depuis Internet. Dans le menu, il y
a le choix entre plusieurs serveurs où envoyer votre clef, mais ce sont des copies l'un
de l'autre, donc vous pouvez utiliser n'importe lequel. Cependant, il leur faut parfois
quelques heures pour s'aligner l'un sur l'autre quand une nouvelle clef est envoyée.</p>

<!-- ~~~~~~~~~ Troubleshooting ~~~~~~~~~ -->
<div class="troubleshooting">

<h4>Résolution de problèmes</h4>

<dl>
<dt>La barre de progression n'en finit pas.</dt>

<dd>Fermez la fenêtre d'envoi vers le serveur, assurez-vous d’être sur Internet
et réessayez. Si cela ne marche pas, réessayez en sélectionnant un serveur de clefs
différent.</dd>

<dt>Ma clef n’apparaît pas dans la liste.</dt>

<dd>Essayez de cocher «&nbsp;Afficher toutes les clefs par défaut&nbsp;».</dd>

<dt>Documentation supplémentaire</dt>

<dd>Si vous avez des difficultés avec nos instructions ou
que voulez simplement en savoir plus, jetez un coup d'œil à la <a
href="https://www.enigmail.net/documentation/quickstart-ch2.php#id2533620"> documentation
d'Enigmail</a>.</dd>

<dt class="feedback">Vous ne trouvez pas de solution à votre problème&nbsp;?</dt>

<dd class="feedback">Merci de nous le faire savoir sur <a
href="https://libreplanet.org/wiki/GPG_guide/Public_Review">la page de commentaires</a>.</dd>
</dl>

</div><!-- .troubleshooting -->
<!-- ~~~~~~~~~ Advanced ~~~~~~~~~ -->
<div class="troubleshooting">

<h4>Utilisation avancée</h4>

<dl>
<dt>Téléverser une clef en ligne de commande</dt>

<dd>Vous pouvez envoyer vos clefs sur un serveur à l'aide de la [<a
href="https://www.gnupg.org/gph/en/manual/x457.html">ligne de commande</a>. <a
href="https://sks-keyservers.net/overview-of-pools.php"> Le site sks-keyserver.net</a>
tient à jour une liste de serveurs de clés hautement interconnectés. Vous pouvez aussi
<a href="https://www.gnupg.org/gph/en/manual/x56.html#AEN64"> exporter directement vos
clés</a> sous forme de fichier sur votre ordinateur.</dd>
</dl>

</div><!-- /.troubleshooting -->
</div><!-- End .main -->
</div><!-- End #step-2b .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="terminology" class="step">
<div class="main">

<h3>GnuPG, OpenPGP, c'est quoi tout ça&nbsp;?</h3>

<p>En général, les termes GnuPG, GPG, GNU Privacy Guard, OpenPGP et PGP sont utilisés
de manière interchangeable. Techniquement, OpenPGP <cite>(Pretty Good Privacy)</cite>
est la norme de chiffrement et GNU Privacy Guard (qu'on abrège souvent en GPG ou GnuPG)
est le programme qui la met en œuvre. Enigmail est un module, un petit programme associé
à votre logiciel de messagerie, qui fait l'interface avec GnuPG.</p>

</div><!-- End .main -->
</div><!-- End #terminology.step-->
</div></section><!-- End #section2 -->

<!-- ~~~~~~~~~ Section 3: Try it out ~~~~~~~~~ -->
<section class="row" id="section3"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro">

<h2><em>#3</em> Essayez&nbsp;!</h2>

<p>Maintenant vous allez faire un essai&nbsp;: correspondre avec un programme nommé Edward
qui sait comment utiliser le chiffrement. Sauf indication contraire, ces étapes sont les
mêmes que lorsque vous correspondrez avec un personne vivante.</p>

<!--

<p>NOTE: Edward is currently having some technical difficulties, so he may take a long
time to respond, or not respond at all. We're sorry about this and we're working hard to
fix it. Your key will still work even without testing with Edward.</p>

-->
</div><!-- End .section-intro -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-3a" class="step">
<div class="sidebar">

<p><img src="//static.fsf.org/nosvn/enc-dev0/img/fr/screenshots/section3-try-it-out.png"
alt=" [Faites un essai (Adèle envoie un message chiffré à l'ordinateur qui héberge
Edward)] " /></p>

</div><!-- /.sidebar -->
<div class="main">

<h3><em>Étape 3.A</em> Envoyez votre clef publique à Edward</h3>

<p>C’est une étape un peu particulière que vous n’aurez pas à faire quand vous
correspondrez avec de vraies personnes. Dans le menu de votre logiciel de messagerie,
allez à «&nbsp;Enigmail &rarr; Gestion de clefs&nbsp;». Vous devriez voir votre clef
dans la liste qui apparaît. Faites un clic droit dessus et sélectionnez
«&nbsp;Envoyer des clefs publiques par courrier électronique&nbsp;». Cela créera un
nouveau brouillon de message, comme si vous aviez juste cliqué sur le bouton Écrire.</p>

<p>Remplissez le champ d’adresse du destinataire avec l’adresse <a
href="mailto:edward-en@fsf.org">edward-en@fsf.org</a>. Mettez au moins un mot (ce que vous
souhaitez) dans le sujet et le corps du message. Ne l'envoyez pas tout de suite.</p>

<p>L'icône en forme de clef en haut à gauche devrait être jaune, ce qui signifie
que le chiffrement est activé. Comme nous ne voulons pas que ce premier message très
spécial pour Edward soit chiffré, cliquez une fois sur cette clef pour désactiver
le chiffrement. La clef devrait devenir grise, avec un point bleu pour signaler que le
réglage a été modifié. Après avoir désactivé le chiffrement, cliquez sur Envoyer.</p>

<p class="notes">Cela peut prendre deux ou trois minutes à Edward pour
répondre. Entre-temps, vous pourriez aller voir la section de ce guide intitulée «&nbsp;<a
href="#section5">Les bonnes pratiques</a>&nbsp;». Une fois qu’Edward aura répondu,
allez à l’étape suivante. Désormais, vous aurez simplement à faire la même chose
lorsque vous correspondrez avec une vraie personne.</p>

<p>Lorsque vous ouvrirez la réponse d'Edward, GnuPG vous demandera peut-être votre mot
de passe avant d'utiliser votre clef privée pour le déchiffrer.</p>

</div><!-- End .main -->
</div><!-- End #step-3a .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-3b" class="step">
<div class="main">

<h3><em>Étape 3.B</em> Envoyez un courriel de test chiffré</h3>

<p>Dans votre logiciel de messagerie, préparez un nouveau courriel adressé à
<a href="mailto:edward-en@fsf.org">edward-en@fsf.org</a>. Écrivez «&nbsp;Test de
chiffrement&nbsp;» ou quelque chose d’approchant dans le champ de sujet, et mettez
quelque chose dans le corps du message.</p>

<p>La clef en haut à gauche devrait être jaune, ce qui veut dire que le chiffrement est
activé. À partir de maintenant, ce sera votre réglage par défaut.</p>

<p class="notes">À côté de la clef, vous remarquerez l'icône d'un crayon. Nous allons
y revenir.</p>

<p>Cliquez sur Envoyer. Enigmail fera apparaître une fenêtre indiquant «&nbsp;Le
destinataire est invalide, n'est pas de confiance ou n'a pas été trouvé.&nbsp;»</p>

<p>Pour envoyer un courriel chiffré à Edward, vous aurez besoin de sa clef publique,
donc vous devez maintenant la faire télécharger par Enigmail depuis un serveur de
clefs. Cliquez sur «&nbsp;Télécharger les clefs manquantes&nbsp;» et utilisez le
serveur par défaut dans la fenêtre qui vous demande de choisir un serveur. Une fois
les clefs trouvées, vérifiez la première (son identifiant commence par C), puis cliquez
sur OK. Cliquez sur OK dans la fenêtre suivante.</p>

<p>Maintenant que vous êtes de retour à la fenêtre «&nbsp;Le destinataire est invalide,
n'est pas de confiance ou n'a pas été trouvé&nbsp;», sélectionnez la clef d’Edward
dans la liste et cliquez sur Envoyer.</p>

<p class="notes">Puisque vous avez chiffré ce courriel avec la clef publique d'Edward, la
clef privée d'Edward est nécessaire pour le déchiffrer. Edward est le seul à posséder
cette clef privée, donc personne à part lui ne peut le déchiffrer.</p>

<!-- ~~~~~~~~~ Troubleshooting ~~~~~~~~~ -->
<div class="troubleshooting">

<h4>Résolution de problèmes</h4>

<dl>
<dt>Enigmail ne trouve pas la clef d'Edward.</dt>

<dd>Fermez les fenêtres qui sont apparues quand vous avez cliqué sur Envoyer. Assurez-vous
que vous êtes connecté à Internet et réessayez. Si cela ne marche pas, répétez
le processus en choisissant un serveur de clefs différent quand il vous demande d'en
choisir un.</dd>

<dt>Messages déchiffrés dans le dossier Envoyés</dt>

<dd>Bien que vous ne puissiez pas déchiffrer les messages chiffrés avec la clef publique
de quelqu'un d'autre, votre client de courriel en enregistrera automatiquement une copie
chiffrée avec votre propre clef publique. Vous pourrez la voir dans le dossier Envoyés,
comme n'importe quel autre courriel. Ceci est normal et ne signifie pas que votre message
a été envoyé non chiffré.</dd>

<dt>Ressources supplémentaires</dt>

<dd>Si vous rencontrez toujours des soucis avec nos instructions ou
que vous souhaitez simplement en apprendre plus, jetez un œil au <a
href="https://enigmail.wiki/Signature_and_Encryption#Encrypting_a_message">wiki
d'Enigmail</a>.</dd>

<dt class="feedback">Vous ne trouvez pas de solution à votre problème&nbsp;?</dt>

<dd class="feedback">Merci de nous le faire savoir sur <a
href="https://libreplanet.org/wiki/GPG_guide/Public_Review">la page de commentaires</a>.</dd>
</dl>

</div><!-- /.troubleshooting -->
<!-- ~~~~~~~~~ Advanced ~~~~~~~~~ -->
<div class="troubleshooting">

<h4>Utilisation avancée</h4>

<dl>
<dt>Chiffrer des messages en ligne de commande</dt>

<dd>Vous pouvez également chiffrer et déchiffrer messages ou fichiers en <a
href="https://www.gnupg.org/gph/en/manual/x110.html">ligne de commande</a> si vous le
préférez. L'option «&nbsp;--armor&nbsp;» renvoie le résultat chiffré en utilisant
le jeu de caractères courant.</dd>
</dl>

</div><!-- /.troubleshooting -->
</div><!-- End .main -->
</div><!-- End #step-3b .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-headers_unencrypted" class="step">
<div class="main">

<h3><em>Important&nbsp;:</em> Conseils pour votre sécurité</h3>

<p>Même si vous chiffrez vos courriels, le sujet n'est pas chiffré, donc évitez d'y
mettre des informations sensibles. Comme les adresses des émetteurs et destinataires
ne sont pas chiffrées non plus, un système espion peut déterminer qui communique avec
qui. De plus, les services de surveillance sauront que vous utilisez GnuPG, même s'ils ne
peuvent pas comprendre ce que vous dites. Quand vous enverrez une pièce jointe, Enigmail
vous donnera le choix de la chiffrer ou non, indépendemment du message lui-même.</p>

</div><!-- End .main -->
</div><!-- End #step-headers_unencrypted .step-->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-3c" class="step">
<div class="main">

<h3><em>Étape 3.C</em> Recevez une réponse</h3>

<p>Quand Edward recevra votre courriel, il utilisera sa clef privée pour le
déchiffrer, puis votre clef publique (celle que vous lui avez envoyée à l'<a
href="#step-3a">étape&nbsp;3.A</a>) pour chiffrer la réponse qu'il va vous adresser.</p>

<p class="notes">Cela peut prendre deux ou trois minutes à Edward pour vous
répondre. Pendant ce temps, vous pouvez aller plus avant dans ce guide et consulter la
section «&nbsp;<a href="#section5">Les bonnes pratiques</a>&nbsp;».</p>

<p>Quand vous allez recevoir le courriel d'Edward et l'ouvrir, Enigmail va automatiquement
détecter qu'il est chiffré avec votre clef publique, et il va utiliser votre clef privée
pour le déchiffrer.</p>

<p>Remarquez la barre qu’Enigmail affiche au-dessus du message, montrant les informations
concernant le statut de la clef d’Edward.</p>

</div><!-- End .main -->
</div><!-- End #step-3c .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-3d" class="step">
<div class="main">

<h3><em>Étape 3.D</em> Envoyez un courriel de test signé</h3>

<p>GnuPG inclut un moyen de signer vos messages et vos fichiers. Ces signatures attestent
qu'ils proviennent bien de vous et qu'ils n'ont pas été altérés en chemin. Elles
sont plus solides que leurs cousines d'encre et de papier car elles sont impossibles à
imiter. Il est en effet impossible de les créer sans votre clef privée (encore une bonne
raison de conserver cette dernière bien à l'abri&nbsp;!)</p>

<p>Vous pouvez signer tous les messages, quel que soit le destinataire&nbsp;; c'est donc
un excellent moyen de faire savoir aux gens que vous utilisez GnuPG et qu'ils peuvent
communiquer avec vous en toute sécurité. S'ils n'ont pas GnuPG, ils pourront tout de
même lire votre message et voir votre signature. S'ils utilisent GnuPG, ils pourront
également vérifier que votre signature est authentique.</p>

<p>Pour signer un courriel destiné à Edward, écrivez un message à son intention et
cliquez sur l'icône du crayon à côté du cadenas. Elle deviendra jaune. Si vous signez
un message, GnuPG vous demandera peut-être votre mot de passe avant l'envoi car il a
besoin de déverrouiller votre clef privée pour le signer.</p>

<p>Avec les icônes du cadenas et du stylo, vous pouvez choisir si le message doit être
chiffré, signé, chiffré et signé, ou bien rester tel quel.</p>

</div><!-- End .main -->
</div><!-- End #step-3d .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-3e" class="step">
<div class="main">

<h3><em>Étape 3.E</em> Recevez une réponse</h3>

<p>Quand Edward recevra votre courriel, il utilisera votre clef publique (que vous lui
avez envoyée à la <a href="#step-3a"> Section&nbsp;3.A</a>) pour vérifier que votre
signature est authentique et que le message n'a pas été altéré.</p>

<p class="notes">Cela peut prendre deux ou trois minutes à Edward pour vous
répondre. Pendant ce temps, vous pouvez aller plus avant dans ce guide et consulter la
section «&nbsp;<a href="#section5">Les bonnes pratiques</a>&nbsp;».</p>

<p>La réponse d'Edward arrivera chiffrée, parce qu'il préfère utiliser le chiffrement dans
la mesure du possible. Si tout se passe comme prévu, le message doit contenir «&nbsp;Votre
signature a été vérifiée.&nbsp;» Si votre courriel de test était également chiffré,
il le mentionnera en premier.</p>

</div><!-- End .main -->
</div><!-- End #step-3e .step -->
</div></section>

<!-- ~~~~~~~~~ Section 4: Learn the Web of Trust ~~~~~~~~~ -->
<section class="row" id="section4"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro">

<h2><em>#4</em> Découvrez la «&nbsp;toile de confiance&nbsp;»</h2>

<p>Le chiffrement de courriel est une technologie puissante, mais il a une faiblesse&nbsp;;
il requiert un moyen de vérifier que la clef publique d'une personne est effectivement
la sienne. Autrement, il n'y aurait aucun moyen d'empêcher un attaquant de créer une
adresse de courriel avec le nom d'un de vos amis, et des clefs assorties permettant de se
faire passer pour lui. C'est pourquoi les programmeurs de logiciel libre qui ont développé
le chiffrement de courriel ont créé la signature de clef et la toile de confiance.</p>

<p>En signant la clef de quelqu'un, vous dites publiquement qu'après vérification vous
êtes sûr qu'elle lui appartient à lui et à personne d'autre.</p>

<p>La signature des clefs et la signature des messages font appel au même genre d'opération
mathématique, mais ont des implications très différentes. C'est une bonne pratique de
signer vos courriels d'une manière générale, mais si vous signez les clefs d'autres
personnes sans faire attention, vous pouvez accidentellement vous porter garant de
l'identité d'un imposteur.</p>

<p>Les gens qui utilisent votre clef publique peuvent voir qui l'a signée. Lorsque
vous aurez utilisé GnuPG assez longtemps, votre clef aura peut-être des centaines de
signatures. Vous pouvez considérer une clef comme d'autant plus fiable qu'elle porte les
signatures de nombreuses personnes à qui vous faites confiance. La toile de confiance est
une constellation d'utilisateurs de GnuPG reliés entre eux par des chaînes de confiance
exprimées au travers des signatures.</p>

</div><!-- End .section-intro -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-4a" class="step">
<div class="sidebar">

<p><img src="//static.fsf.org/nosvn/enc-dev0/img/fr/screenshots/section4-web-of-trust.png"
alt="[Section 4&nbsp;: la toile de confiance]" /></p>

</div><!-- /.sidebar -->
<div class="main">

<h3><em>Étape 4.A</em> Signez une clef</h3>

<p>Dans le menu de votre logiciel de messagerie, allez à «&nbsp;Enigmail &rarr; Gestion
de clefs&nbsp;».</p>

<p>Faites un clic droit sur la clef publique d'Edward et sélectionnez «&nbsp;Signer la
clef&nbsp;» dans le menu contextuel.</p>

<p>Dans la fenêtre pop-up, choisissez «&nbsp;Je ne souhaite pas répondre&nbsp;» et
cliquez sur OK.</p>

<p>Maintenant, vous devriez être de retour au menu «&nbsp;Gestion de
clefs&nbsp;». Sélectionner «&nbsp;Serveur de clefs &rarr; Envoyer les clefs
publiques&nbsp;» et cliquez sur OK.</p>

<p class="notes">Vous venez juste de dire «&nbsp;Je crois que la clef publique d'Edward
appartient effectivement à Edward.&nbsp;» Cela ne signifie pas grand chose étant donné
qu'Edward n'est pas une personne réelle, mais c'est un bon entraînement.</p>

<!--<div id="pgp-pathfinder">

<form enctype="application/x-www-form-urlencoded" action="/mk_path.cgi" method="get">

<p><strong>From:</strong>
<input type="text" placeholder="xD41A008" name="FROM"></p>

<p><strong>To:</strong>
<input type="text" placeholder="50BD01x4" name="TO"></p>

<p class="buttons"><input type="submit" value="trust paths" name="PATHS">
<input type="reset" value="reset" name=".reset"></p>

</form>

</div>End #pgp-pathfinder -->
</div><!-- End .main -->
</div><!-- End #step-4a .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-identify_keys" class="step">
<div class="main">

<h3>Identification des clefs : empreinte and ID</h3>

<p>Les clefs publiques sont généralement identifiées par leur empreinte, une suite de
caractères du genre F357AA1A5B1FA42CFD9FE52A9FF2194CC09A61E8 (pour la clef d'Edward). Pour
voir l'empreinte de votre clef publique et des autres clefs publiques stockées dans votre
ordinateur allez à «&nbsp;Enigmail &rarr; Gestion de clefs&nbsp;» dans le menu
de votre programme de messagerie, puis faites un clic droit sur la clef en question
et choisissez «&nbsp;Propriétés de la clef&nbsp;». Il est bon de communiquer votre
empreinte de clef en même temps que votre adresse de courriel, pour que les gens puissent
vérifier qu'ils ont la bonne clef publique lorsqu'ils la téléchargent d'un serveur.</p>

<p class="notes">Vous verrez qu'on peut aussi désigner une clef publique par son identifiant
(ID). Il s'agit simplement des huit derniers caractères de son empreinte (C09A61E8
pour celle d'Edward). On peut voir l'ID des clefs dans la fenêtre de «&nbsp;Gestion de
clefs&nbsp;». C'est un peu comme le prénom d'une personne (un raccourci pratique,
mais qui n'est pas spécifique d'une clef donnée), tandis que l'empreinte identifie la
clef de manière unique sans possibilité de confusion. Si vous n'avez que l'ID, vous pouvez
tout de même rechercher la clef (ainsi que que son empreinte) comme à l'étape&nbsp;3.B,
mais s'il y a plusieurs options, vous aurez besoin de l'empreinte de clef de la personne
avec laquelle vous communiquez pour vérifier laquelle utiliser.</p>

</div><!-- End .main -->
</div><!-- End #step-identify_keys .step-->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="check-ids-before-signing" class="step">
<div class="main">

<h3><em>Important&nbsp;:</em>Ce qu'il faut regarder quand on signe des clefs</h3>

<p>Avant de signer la clef d'une personne, vous devez vous assurer que cette clef lui
appartient vraiment et qu'elle est bien qui elle prétend être. L'idéal serait que
cette confiance s'établisse au fil du temps par des interactions et des conversations,
ainsi que par l'observation de ses interactions avec les autres. Lorsque vous signez
une clef, demandez à voir l'empreinte complète de la clef publique (et non pas l'ID,
plus courte). Si vous estimez important de signer la clef d'une personne rencontrée
pour la première fois, demandez-lui également de vous montrer une pièce d'identité et
assurez-vous que le nom correspond bien à celui du propriétaire de la clef publique. Dans
la fenêtre pop-up d'Enigmail, répondez honnêtement à la question «&nbsp;Avec quel soin
avez-vous vérifié que la clef que vous vous apprêtez à signer appartient effectivement
à la personne citée ci-dessus&nbsp;?&nbsp;» </p>

<!-- ~~~~~~~~~ Advanced ~~~~~~~~~ -->
<div class="troubleshooting">

<h4>Utilisation avancée</h4>

<dl>
<dt>Maîtrisez le réseau de confiance</dt>

<dd>Malheureusement, la confiance ne se propage pas entre utilisateurs
<a href="http://fennetic.net/irc/finney.org/~hal/web_of_trust.html"> de la manière
qu'imaginent beaucoup de gens</a>. Une des meilleures façons de renforcer la communauté
GnuPG est de <a href="https://www.gnupg.org/gph/en/manual/x334.html">comprendre</a> en
profondeur le réseau de confiance et de signer autant de clefs d'autres personnes que le
permettent les circonstances.</dd>

<dt>Spécifiez des niveaux de confiance</dt>

<dd>Si vous estimez qu'une personne est suffisamment fiable dans sa manière de valider les
clefs des autres, vous pouvez lui attribuer un niveau de confiance grâce à l'interface
de gestion de clefs d'Enigmail. Faites un clic droit sur la clef de cette personne, allez
dans le menu «&nbsp;Sélectionnez le niveau de confiance&nbsp;», sélectionnez un des
niveaux et cliquez sur OK. Ne faites cela que lorsque vous sentez que vous avez une bonne
compréhension du réseau de confiance.</dd>
</dl>

</div><!-- /.troubleshooting -->
</div><!-- End .main -->
</div><!-- End #check-ids-before-signing .step-->
</div></section><!-- End #section4 -->

<!-- ~~~~~~~~~ Section 5: Use it well ~~~~~~~~~ -->
<section id="section5" class="row"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro">

<h2><em>#5</em> Les bonnes pratiques</h2>

<p>Chaque personne utilise GnuPGP à sa manière, mais il est important de suivre certaines
pratiques de base pour garantir la sécurité de vos courriels. Ne pas les suivre peut
constituer un risque pour la vie privée des personnes avec qui vous communiquez, de même
que pour la vôtre, et peut être dommageable pour la toile de confiance.</p>

</div><!-- End .section-intro -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-5a" class="step">
<div class="sidebar">

<p><img src="//static.fsf.org/nosvn/enc-dev0/img/fr/screenshots/section5-01-use-it-well.png"
alt=" [Section 5&nbsp;: Les bonnes pratiques (carte de visite comportant une empreinte de
clef)] " /></p>

</div><!-- /.sidebar -->
<div class="main">

<h3>Quand dois-je chiffrer&nbsp;? Quand dois-je signer&nbsp;?</h3>

<p>Plus vous chiffrez de messages, mieux c'est. En effet, si vous ne chiffrez
qu'occasionnellement votre courriel, chaque message chiffré pourrait alerter les systèmes de
surveillance. Si tout votre courriel est chiffré, ou presque, les gens qui vous espionnent
ne sauront pas par où commencer. Cela ne signifie pas que chiffrer uniquement certains
de vos messages soit inutile. C'est un excellent début et cela complique la surveillance
de masse.</p>

<p>À moins que vous ne souhaitez pas révéler votre identité (ce qui requiert d'autres
mesures de protection), il n'y a aucune raison de ne pas signer tous vos messages, chiffrés
ou non. Non seulement cela permet aux utilisateurs de GnuPG de vérifier que ce message
provient bien de vous, mais c'est aussi une méthode non intrusive de rappeler à chacun
que vous utilisez GnuPG et de promouvoir les communications sécurisées. Si vous envoyez
régulièrement des courriels signés à des persones non familières de GnuPG, il est
bon d'ajouter un lien vers ce guide à votre signature (celle qui fait partie du message,
pas la signature cryptographique).</p>

</div><!-- End .main -->
</div><!-- End #step-5a .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-5b" class="step">
<div class="sidebar">

<p><img src="//static.fsf.org/nosvn/enc-dev0/img/fr/screenshots/section5-02-use-it-well.png"
alt=" [Section 5&nbsp;: les bonnes pratiques (mot de passe et enveloppe)] " /></p>

</div><!-- /.sidebar -->
<div class="main">

<h3>Soyez attentif aux clefs non valides</h3>

<p>GnuPG rend le courriel plus sûr, mais il est tout de même important de faire attention
aux clefs non valides, qui ont pu tomber entre de mauvaises mains. Un message chiffré
avec une clef non valide est lisible par des programmes de surveillance.</p>

<p>Dans votre logiciel de messagerie, revenez au premier courriel chiffré qu'Edward vous
a envoyé. Comme il l'a chiffré avec votre clef publique, il y a un message d'Enigmail
au début, qui dit généralement «&nbsp;Début contenu chiffré ou signé&nbsp;».</p>

<p><b>Lorsque vous utilisez GnuPG, prenez l'habitude de jeter un coup d'œil à cette
barre. C'est là que vous verrez une alerte si vous recevez un courriel chiffré avec une
clef non fiable.</b></p>

</div><!-- End .main -->
</div><!-- End #step-5b .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-5c" class="step">
<div class="main">

<h3>Sauvegardez votre certificat de révocation en lieu sûr</h3>

<p>Vous vous souvenez de l'étape où vous avez créé vos clefs et enregistré le certificat
de révocation produit par GnuPG&nbsp;? Il est maintenant temps de copier ce certificat
sur l'équipement de stockage numérique le plus sûr que vous ayez. L'idéal serait un
périphérique flash, disque ou clef USB, ou bien un disque dur stocké dans un endroit
sûr de votre maison, pas un appareil que vous gardez sur vous habituellement.</p>

<p>Si jamais votre clef privée devait être perdue ou volée, vous auriez besoin de ce
certificat pour prévenir les gens que vous n'utilisez plus cette paire de clefs.</p>

</div><!-- End .main -->
</div><!-- End #step-5c .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-lost_key" class="step">
<div class="main">

<h3><em>Important&nbsp;:</em> agissez rapidement si quelqu'un s'empare de votre clef
privée</h3>

<p>Si vous perdez votre clef privée ou si quelqu'un s'en empare (par vol ou
intrusion dans votre ordinateur), il est important de la révoquer immédiatement
avant qu'un inconnu ne l'utilise pour lire vos courriels chiffrés ou imiter votre
signature. Ce guide ne couvre pas la révocation de clef, mais vous pouvez suivre ces <a
href="https://www.hackdiary.com/2004/01/18/revoking-a-gpg-key/"> instructions</a>. Une
fois la révocation faite, créez une nouvelle clef et envoyez-la à chaque personne avec
qui vous aviez l'habitude d'utiliser l'ancienne, en leur disant que cette dernière n'est
plus valable.</p>

</div><!-- End .main -->
</div><!-- End #step-lost_key .step-->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<!---<div id="transfer-key" class="step">
<div class="main">

<h3>Transferring you key</h3>

<p>You can use Enigmail's <a href="https://www.enigmail.net/documentation/keyman.php">key
management window</a> to import and export keys. If you want to be able to read your
encrypted email on a different computer, you will need to export your secret key from
here. Be warned, if you transfer the key without <a
href="https://help.ubuntu.com/community/EncryptedFilesystemsOnRemovableStorage">encrypting</a>
the drive it's on the transfer will be dramatically less secure.</p>

</div> --> <!-- End .main </div> --> <!-- End #transfer-key .step-->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="webmail-and-GnuPG" class="step">
<div class="main">

<h3>GnuPG et le webmail</h3>

<p>Lorsque vous accédez à vos courriels depuis un navigateur, vous utilisez un
webmail, un programme de courriel localisé sur un site distant. Au contraire du webmail,
votre programme de messagerie tourne sur votre ordinateur. Bien que le webmail ne puisse
déchiffrer le courriel chiffré, il l'affichera quand même sous forme chiffrée. Si vous
utilisez majoritairement un webmail, vous saurez ainsi que c'est le moment de lancer votre
logiciel de messagerie pour lire le message en clair.</p>

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~
<div id="transfer-key" class="step">
<div class="main">

<h3>Make your public key part of your online identity</h3>

<p> First add your public key fingerprint to your email signature, then compose an email
to at least five of your friends, telling them you just set up GnuPG and mentioning your
public key fingerprint. Link to this guide and ask them to join you. Don't forget that
there's also an awesome <a href="infographic.html">infographic to share.</a></p>

<p class="notes">Start writing your public key fingerprint anywhere someone would see
your email address: your social media profiles, blog, Website, or business card. (At the
Free Software Foundation, we put ours on our <a href="https://fsf.org/about/staff">staff
page</a>.) We need to get our culture to the point that we feel like something is missing
when we see an email address without a public key fingerprint.</p>

 -->
</div> <!-- End .main -->
</div> <!-- End #webmail-and-GnuPG .step -->
</div></section><!-- End #section5 -->

<!-- ~~~~~~~~~ Section 6: Next steps ~~~~~~~~~ -->
<section class="row" id="section6">
<div id="step-click_here" class="step">
<div class="main">

<h2><a href="next_steps.html">Excellent travail ! Et maintenant, voyons la suite...</a></h2>

</div><!-- End .main -->
</div><!-- End #step-click_here .step-->
</section><!-- End #section6 -->

<!-- ~~~~~~~~~ FAQ ~~~~~~~~~ -->
<!-- When un-commenting this section go to main.css and search for /* Guide Sections
Background */ then add #faq to the desired color <section class="row" id="faq">
<div>
<div class="sidebar">

<h2>FAQ</h2>

</div>
<div class="main">

<dl>
<dt>My key expired</dt>

<dd>Answer coming soon.</dd>

<dt>Who can read encrypted messages? Who can read signed ones?</dt>

<dd>Answer coming soon.</dd>

<dt>My email program is opening at times I don't want it to open/is now my default program
and I don't want it to be.</dt>

<dd>Answer coming soon.</dd>
</dl>

</div>
</div>
</section> --><!-- End #faq -->
<!-- include virtual="footer.i.html" -->
<!-- include virtual="javascript.i.html" -->
