<!-- include virtual="head.i.html" -->
<header class="row centered" id="header"><div>

<p class="back">&larr; Lisez le <a href="index.html">guide complet</a></p>

<h3><a
href="https://fsf.org/share?u=https://u.fsf.org/zc&amp;t=Le&nbsp;chiffrement,&nbsp;comment&nbsp;ça&nbsp;marche.&nbsp;Infographie&nbsp;via&nbsp;%40fsf"><img
class="share-logo" src="//static.fsf.org/nosvn/enc-dev0/img/gnu-social.png"
alt="[GNU Social]" />&nbsp; <img class="share-logo"
src="//static.fsf.org/nosvn/enc-dev0/img/pump.io.png"
alt="[Pump.io]" />&nbsp; <img class="share-logo"
src="//static.fsf.org/nosvn/enc-dev0/img/reddit-alien.png"
alt="[Reddit]" />&nbsp; <img class="share-logo"
src="//static.fsf.org/nosvn/enc-dev0/img/hacker-news.png"
alt="[Hacker News]" />&nbsp; Partagez notre infographie</a> avec le hashtag
#AutodefenseCourriel</h3>

<p><img src="//static.fsf.org/nosvn/enc-dev0/img/fr/full-infographic.png"
alt="[Regardez et partagez notre infographie]" /></p>

<p class="back">&larr; Lisez le <a href="index.html">guide complet</a></p>

</div></header><!-- End #header -->
<!-- include virtual="footer.i.html" -->
<!-- include virtual="javascript.i.html" -->
