<!-- Language list for browsers that do not have JS enabled -->
<ul id="languages" class="os">
<li><a href="/en">English – v4.0</a></li>
<!--<li><a href="/ar">العربية</a></li>-->
<li><a href="/de">Deutsch – v3.0</a></li>
<li><a href="/el">ελληνικά – v3.0</a></li>
<li><a href="/es">español – v3.0</a></li>
<li><a class="current" href="/fr">français – v4.0</a></li>
<li><a href="/it">italiano – v3.0</a></li>
<li><a href="/ja">日本語 – v3.0</a></li>
<!--<li><a href="/ko">한국어</a></li>-->
<!--<li><a href="/ml">മലയാളം</a></li>-->
<li><a href="/pt-br">português do Brasil – v3.0</a></li>
<li><a href="/ro">română – v3.0</a></li>
<li><a href="/ru">русский – v4.0</a></li>
<li><a href="/sq">Shqip – v4.0</a></li>
<li><a href="/tr">Türkçe – v4.0</a></li>
</ul>
