<!-- include virtual="head.html" -->

		<header class="row centered" id="header">
			<div>
					<p class="back">&larr; Lies die <a href="index.html">Anleitung</a></p>
					<h3><a href="https://fsf.org/share?u=https://u.fsf.org/zc&amp;t=Wie%20asymmetrische%20Verschlüsselung%20funktioniert.%20Infografik%20von%20%40fsf%20%23EmailSelfDefense">Teile unsere Infografik</a> mit dem Hashtag #EmailSelfDefense</h3>

					<p><img src="//static.fsf.org/nosvn/enc-dev0/img/de/full-infographic.png" alt="Teile unsere Infografik!" /></p>

					<p><a href="emailselfdefense_source.zip">Hol dir den Quellcode</a> der Infografik</p>
					<p class="back">&larr; Lies die <a href="index.html">Anleitung</a></p>
			</div>
		</header><!-- End #header -->

<!-- include virtual="footer.html" -->

<!-- include virtual="javascript.html" -->
