<!-- ~~~~~~~~~ Footer ~~~~~~~~~ -->
<footer class="row" id="footer"><div>
<div id="copyright">

<h4><a href="https://u.fsf.org/ys"><img
alt="Free Software Foundation" src="//static.fsf.org/nosvn/enc-dev0/img/fsf-logo.png"
/></a></h4>

<p>Copyright &copy; 2014 <a href="https://u.fsf.org/ys">Free Software Foundation</a>,
Inc. <a href="https://my.fsf.org/donate/privacypolicy.html">Privacy Policy</a>. <a
href="https://u.fsf.org/yr">Join.</a></p>

<p><em>Version 3.0. <a
href="http://agpl.fsf.org/emailselfdefense.fsf.org/edward/CURRENT/edward.tar.gz">Source
code of Edward reply bot by Josh Drake &lt;zamnedix@gnu.org&gt; available under the GNU
General Public License.</a></em></p>

<p>The images on this page are under a <a
href="https://creativecommons.org/licenses/by/4.0/">Creative Commons
Attribution 4.0 license (or later version)</a>, and the rest of it is under
a <a href="https://creativecommons.org/licenses/by-sa/4.0">Creative Commons
Attribution-ShareAlike 4.0 license (or later version)</a>. &mdash; <a
href="http://www.gnu.org/licenses/license-list.html#OtherLicenses">Why these licenses?</a></p>

<p>Download the source packages for <a href="https://fixme.com">this guide</a> and
for <a href="https://static.fsf.org/nosvn/enc-dev0/gnupg-infographic.zip">the
infographic</a>. Fonts used in the guide &amp; infographic: <a
href="https://www.google.com/fonts/specimen/Dosis">Dosis</a> by Pablo Impallari, <a
href="http://www.google.com/fonts/specimen/Signika">Signika</a> by Anna Giedry&#347; <a
href="http://www.google.com/fonts/specimen/Archivo+Narrow">Archivo Narrow</a> by Omnibus-Type,
<a href="http://www.thegopherarchive.com/gopher-files-hacks-pxl2000-119351.htm">PXL-2000</a>
by Florian Cramer.</p>

<p> <a href="//weblabels.fsf.org/emailselfdefense.fsf.org/" rel="jslicense"> JavaScript
license information </a> </p>

</div><!-- /#copyright -->

<p class="credits"> Infographic and guide design by <a rel="external"
href="http://jplusplus.org"><strong>Journalism++</strong> <img
src="//static.fsf.org/nosvn/enc-dev0/img/jplusplus.png"
alt="Journalism++" /></a> </p><!-- /.credits -->

</div></footer><!-- End #footer -->
