<!-- include virtual="head.html" -->

<!-- ~~~~~~~~~ GnuPG Header and introduction text ~~~~~~~~~ -->
<header class="row" id="header"><div>

<h1>Email Self-Defense</h1>

<!-- include virtual="translist.html" -->

<ul id="menu" class="os">
<!-- START DELETION 01, KEEP IN index -->
<li class="spacer"><a href="index.html" class="current">GNU/Linux</a></li>
<li><a href="mac.html">Mac OS</a></li>
<li><a href="windows.html">Windows</a></li>
<!-- END DELETION 01 -->
<!-- START DELETION 02, KEEP IN mac -->
<li class="spacer"><a href="index.html">GNU/Linux</a></li>
<li><a href="mac.html" class="current">Mac OS</a></li>
<li><a href="windows.html">Windows</a></li>
<!-- END DELETION 02 -->
<!-- START DELETION 03, KEEP IN windows -->
<li class="spacer"><a href="index.html">GNU/Linux</a></li>
<li><a href="mac.html">Mac OS</a></li>
<li><a href="windows.html" class="current">Windows</a></li>
<!-- END DELETION 03 -->
<li class="spacer"><a
href="https://fsf.org/share?u=https://u.fsf.org/zb&amp;t=Email encryption for everyone via %40fsf">
Share&nbsp;
<img src="//static.fsf.org/nosvn/enc-dev0/img/gnu-social.png" class="share-logo"
alt="[GNU Social]" />&nbsp;
<img src="//static.fsf.org/nosvn/enc-dev0/img/pump.io.png" class="share-logo"
alt="[Pump.io]" />&nbsp;
<img src="//static.fsf.org/nosvn/enc-dev0/img/reddit-alien.png" class="share-logo"
alt="[Reddit]" />&nbsp;
<img src="//static.fsf.org/nosvn/enc-dev0/img/hacker-news.png" class="share-logo"
alt="[Hacker News]" /></a></li>
</ul>

<!-- ~~~~~~~~~ FSF Introduction ~~~~~~~~~ -->
<div id="fsf-intro">

<h3><a href="http://u.fsf.org/ys"><img
alt="Free Software Foundation"
src="//static.fsf.org/nosvn/enc-dev0/img/fsf-logo.png" /></a></h3>

<div class="fsf-emphasis">

<p> We fight for computer users' rights, and promote the development of free (as in freedom) software. Resisting bulk surveillance is very important to us. </p>

<p><strong>We want to translate this guide into more languages, and make a version for encryption on mobile devices. Please donate, and help people around the world take the first step towards protecting their privacy with free software.</strong></p>

</div>

<p><a href="https://crm.fsf.org/civicrm/contribute/transact?reset=1&amp;id=14&amp;pk_campaign=email_self_defense&amp;pk_kwd=guide_donate"><img
alt="Donate"
src="//static.fsf.org/nosvn/enc-dev0/img/en/donate.png" /></a></p>

</div><!-- End #fsf-intro -->

<!-- ~~~~~~~~~ Guide Introduction ~~~~~~~~~ -->
<div class="intro">

<p><a id="infographic" href="infographic.html"><img
src="//static.fsf.org/nosvn/enc-dev0/img/en/infographic-button.png"
alt="View &amp; share our infographic &rarr;" /></a> Bulk surveillance violates our fundamental rights and makes free speech risky. This guide will teach you a basic surveillance self-defense skill: email encryption. Once you've finished, you'll be able to send and receive emails that are coded to make sure a surveillance agent or thief intercepting your email can't read it. All you need is a computer with an Internet connection, an email account, and about half an hour.</p>

<p>Even if you have nothing to hide, using encryption helps protect the privacy of people you communicate with, and makes life difficult for bulk surveillance systems. If you do have something important to hide, you're in good company; these are the same tools that Edward Snowden used to share his famous secrets about the NSA.</p>

<p>In addition to using encryption, standing up to surveillance requires fighting politically for a <a href="http://gnu.org/philosophy/surveillance-vs-democracy.html">reduction in the amount of data collected on us</a>, but the essential first step is to protect yourself and make surveillance of your communication as difficult as possible. Let's get started!</p>

</div><!-- End .intro -->
</div></header><!-- End #header -->

<!-- ~~~~~~~~~ Section 1: Get the pieces ~~~~~~~~~ -->
<section class="row" id="section1"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro">

<h2><em>#1</em> Get the pieces</h2>

<!-- START DELETION 04, KEEP IN index -->
<p class="notes">This guide relies on software which is freely licensed; it's completely transparent and anyone can copy it or make their own version. This makes it safer from surveillance than proprietary software (like Windows). Learn more about free software at <a href="https://u.fsf.org/ys">fsf.org</a>.</p>

<p>Most GNU/Linux operating systems come with GnuPG installed on them, so you don't have to download it. Before configuring GnuPG though, you'll need a desktop email program installed on your computer. Most GNU/Linux distributions have a free software version of the Thunderbird email program available to install. This guide will work with them, in addition to Thunderbird itself. Email programs are another way to access the same email accounts you can access in a browser (like Gmail), but provide extra features.</p>
<!-- END DELETION 04 -->
<!-- START DELETION 05, KEEP IN mac windows --> 
<p class="notes">This guide relies on software which is freely licensed; it's completely transparent and anyone can copy it or make their own version. This makes it safer from surveillance than proprietary software (like Mac OS). To defend your freedom as well as protect yourself from surveillance, we recommend you switch to a free software operating system like GNU/Linux. Learn more about free software at <a href="https://u.fsf.org/ys">fsf.org</a>.</p>

<p>To get started, you'll need a desktop email program installed on your computer. This guide works with free software versions of the Thunderbird email program, and with Thunderbird itself. Email programs are another way to access the same email accounts you can access in a browser (like Gmail), but provide extra features.</p>
<!-- END DELETION 05 -->

<p>If you already have an email program, you can skip to <a href="#step-1b">Step 1.b</a>.</p>

</div><!-- End .section-intro -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-1a" class="step">
<div class="sidebar">

<p><img src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/step1a-install-wizard.png"
alt="Step 1.A: Install Wizard" /></p>

</div><!-- /.sidebar -->
<div class="main">

<h3><em>Step 1.a</em> Setup your email program with your email account</h3>

<p>Open your email program and follow the wizard (step-by-step walkthrough) that sets it up with your email account.</p>

<!-- ~~~~~~~~~ Troubleshooting ~~~~~~~~~ -->
<div class="troubleshooting">

<h4>Troubleshooting</h4>

<dl>
<dt>The wizard doesn't launch</dt>

<dd>You can launch the wizard yourself, but the menu option for doing so is named differently in each email programs. The button to launch it will be in the program's main menu, under "New" or something similar, titled something like "Add account" or "New/Existing email account."</dd>

<dt>The wizard can't find my account or isn't downloading my mail</dt>

<dd>Before searching the Web, we recommend you start by asking other people who use your email system, to figure out the correct settings.</dd>

<dt class="feedback">Don't see a solution to your problem?</dt>

<dd class="feedback">Please let us know on the <a href="https://libreplanet.org/wiki/GPG_guide/Public_Review">feedback page</a>.</dd>
</dl>

</div><!-- /.troubleshooting -->
</div><!-- End .main -->
</div><!-- End #step1-a .step -->

<!-- START DELETION 06, KEEP IN mac --> 
<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-1b" class="step">
<div class="main">

<h3><em>Step 1.b</em> Get GnuPG by downloading GPGTools</h3>

<p>GPGTools is a software package that includes GnuPG. <a href="https://gpgtools.org/#gpgsuite">Download</a> and install it, choosing default options whenever asked. After it's installed, you can close any windows that it creates.</p>

</div><!-- End .main -->
</div><!-- End #step1-b .step -->
<!-- END DELETION 06 -->
<!-- START DELETION 07, KEEP IN windows --> 
<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-1b" class="step">
<div class="main">

<h3><em>Step 1.b</em> Get GnuPG by downloading GPG4Win</h3>

<p>GPG4Win is a software package that includes GnuPG. <a href="http://files.gpg4win.org/gpg4win-2.2.1.exe">Download</a> and install it, choosing default options whenever asked. After it's installed, you can close any windows that it creates.</p>

</div><!-- End .main -->
</div><!-- End #step1-b .step -->
<!-- END DELETION 07 -->
<!-- START DELETION 08, KEEP IN index --> 
<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-1b" class="step">
<div class="sidebar">
<ul class="images">
<li><img src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/step1b-01-tools-addons.png"
alt="Step 1.B: Tools -> Add-ons" /></li>
<li><img src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/step1b-02-search.png"
alt="Step 1.B: Search Add-ons" /></li>
<li><img src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/step1b-03-install.png"
alt="Step 1.B: Install Add-ons" /></li>
</ul>

</div><!-- /.sidebar -->
<div class="main">

<h3><em>Step 1.b</em> Install the Enigmail plugin for your email program</h3>
<!-- END DELETION 08 -->
<!-- START DELETION 09, KEEP IN mac windows --> 

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-1c" class="step">
<div class="sidebar">
<ul class="images">
<li><img src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/step1b-01-tools-addons.png"
alt="Step 1.C: Tools -> Add-ons" /></li>
<li><img src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/step1b-02-search.png"
alt="Step 1.C: Search Add-ons" /></li>
<li><img src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/step1b-03-install.png"
alt="Step 1.C: Install Add-ons" /></li>
</ul>

</div><!-- /.sidebar -->
<div class="main">

<h3><em>Step 1.c</em> Install the Enigmail plugin for your email program</h3>
<!-- END DELETION 09 -->

<p>In your email program's menu, select Add-ons (it may be in the Tools section). Make sure Extensions is selected on the left. Do you see Enigmail? If so, skip this step.</p>

<p>If not, search "Enigmail" with the search bar in the upper right. You can take it from here. Restart your email program when you're done.</p>

<!-- ~~~~~~~~~ Troubleshooting ~~~~~~~~~ -->
<div class="troubleshooting">

<h4>Troubleshooting</h4>

<dl>
<dt>I can't find the menu.</dt>

<dd>In many new email programs, the main menu is represented by an image of three stacked horizontal bars.</dd>

<dt class="feedback">Don't see a solution to your problem?</dt>

<dd class="feedback">Please let us know on the <a href="https://libreplanet.org/wiki/GPG_guide/Public_Review">feedback page</a>.</dd>
</dl>

</div><!-- /.troubleshooting -->
</div><!-- End .main -->
</div><!-- End #step-1b .step -->
</div></section><!-- End #section1 -->

<!-- ~~~~~~~~~ Section 2: Make your keys ~~~~~~~~~ -->
<section class="row" id="section2"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro">

<h2><em>#2</em> Make your keys</h2>

<p>To use the GnuPG system, you'll need a public key and a private key (known together as a keypair). Each is a long string of randomly generated numbers and letters that are unique to you. Your public and private keys are linked together by a special mathematical function.</p>

<p>Your public key isn't like a physical key, because it's stored in the open in an online directory called a keyserver. People download it and use it, along with GnuPG, to encrypt emails they send to you. You can think of the keyserver as phonebook, where people who want to send you an encrypted email look up your public key.</p>

<p>Your private key is more like a physical key, because you keep it to yourself (on your computer). You use GnuPG and your private key to decode encrypted emails other people send to you.</p>

</div><!-- End .section-intro -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-2a" class="step">
<div class="sidebar">

<p><img src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/step2a-01-make-keypair.png"
alt="Step 2.A: Make a Keypair" /></p>

</div><!-- /.sidebar -->
<div class="main">

<h3><em>Step 2.a</em> Make a keypair</h3>

<p>The Enigmail Setup wizard may start automatically. If it doesn't, select Enigmail &rarr; Setup Wizard from your email program's menu. You don't need to read the text in the window that pops up unless you'd like to, but it's good to read the text on the later screens of the wizard. Click Next with the default options selected, except in these instances:</p>

<ul>
<li>On the second screen, titled "Encryption," select "Encrypt all of my messages by default, because privacy is critical to me."</li>
<li>On the third screen, titled "Signing," select "Don't sign my messages by default."</li>
<li>On the fourth screen, titled "Key Selection," select "I want to create a new key pair for signing and encryption my email."</li>
<li>On the screen titled "Create Key," pick a strong password! Your password should be at least 12 characters and include at least one lower case and upper case letter and at least one number or punctuation symbol. Don't forget the password, or all this work will be wasted!</li>
</ul>

<p class="notes">The program will take a little while to finish the next step, the "Key Creation" screen. While you wait, do something else with your computer, like watching a movie or browsing the Web. The more you use the computer at this point, the faster the key creation will go.</p>

<p>When the "Key Generation Completed" screen pops up, select Generate Certificate and choose to save it in a safe place on your computer (we recommend making a folder called "Revocation Certificate" in your home folder and keeping it there). You'll learn more about the revocation certificate in <a href="#section5">Section 5</a>.</p>

<!-- ~~~~~~~~~ Troubleshooting ~~~~~~~~~ -->
<div class="troubleshooting">

<h4>Troubleshooting</h4>

<dl>
<dt>I can't find the Enigmail menu.</dt>

<dd>In many new email programs, the main menu is represented by an image of three stacked horizontal bars. Enigmail may be inside a section called Tools.</dd>

<!-- START DELETION 10, KEEP IN index -->
<dt>The wizard says that it cannot find GnuPG.</dt>

<dd>Open whatever program you usually use for installing software, and search for GnuPG, then install it. Then restart the Enigmail setup wizard by going to Enigmail &rarr; Setup Wizard.</dd>

<!-- END DELETION 10 -->
<dt class="feedback">Don't see a solution to your problem?</dt>

<dd class="feedback">Please let us know on the <a href="https://libreplanet.org/wiki/GPG_guide/Public_Review">feedback page</a>.</dd>
</dl>

</div><!-- /.troubleshooting -->
</div><!-- End .main -->
</div><!-- End #step-2a .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-2b" class="step">
<div class="main">

<h3><em>Step 2.b</em> Upload your public key to a keyserver</h3>

<p>In your email program's menu, select Enigmail &rarr; Key Management.</p>

<p>Right click on your key and select Upload Public Keys to Keyserver. Use the default keyserver in the popup.</p>

<p class="notes">Now someone who wants to send you an encrypted message can download your public key from the Internet. There are multiple keyservers that you can select from the menu when you upload, but they are all copies of each other, so it doesn't matter which one you use. However, it sometimes takes a few hours for them to match each other when a new key is uploaded.</p>

<!-- ~~~~~~~~~ Troubleshooting ~~~~~~~~~ -->
<div class="troubleshooting">

<h4>Troubleshooting</h4>

<dl>
<dt>The progress bar never finishes.</dt>

<dd>Close the upload popup, make sure you are connected to the Internet, and try again. If that doesn't work, try again, selecting a different keyserver.</dd>

<dt>My key doesnt appear in the list</dt>

<dd>Try checking "Display All Keys by Default."</dd>

<dt class="feedback">Don't see a solution to your problem?</dt>

<dd class="feedback">Please let us know on the <a href="https://libreplanet.org/wiki/GPG_guide/Public_Review">feedback page</a>.</dd>
</dl>

</div><!-- /.troubleshooting -->
</div><!-- End .main -->
</div><!-- End #step-2b .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="terminology" class="step">
<div class="main">

<h3>GnuPG, OpenPGP, what?</h3>

<p>In general, the terms GnuPG, GPG, GNU Privacy Guard, OpenPGP and PGP are used interchangeably. Technically, OpenPGP (Pretty Good Privacy) is the encryption standard, and GNU Privacy Guard (often shortened to GPG or GnuPG) is the program that implements the standard. Enigmail is a plug-in program for your email program that provides an interface for GnuPG.</p>

</div><!-- End .main -->
</div><!-- End #terminology.step-->
</div></section><!-- End #section2 -->

<!-- ~~~~~~~~~ Section 3: Try it out ~~~~~~~~~ -->
<section class="row" id="section3"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro">

<h2><em>#3</em> Try it out!</h2>

<p>Now you'll try a test correspondence with a computer program named Edward, which knows how to use encryption. Except where noted, these are the same steps you'd follow when corresponding with a real, live person.</p>

</div><!-- End .section-intro -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-3a" class="step">
<div class="sidebar">

<p><img src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/section3-try-it-out.png"
alt="Try it out." /></p>

</div><!-- /.sidebar -->
<div class="main">

<h3><em>Step 3.a</em> Send Edward your public key</h3>

<p>This is a special step that you won't have to do when corresponding with real people. In your email program's menu, go to Enigmail &rarr; Key Management. You should see your key in the list that pops up. Right click on your key and select Send Public Keys by Email. This will create a new draft message, as if you had just hit the Write button.</p>

<p>Address the message to edward-en@fsf.org. Put at least one word (whatever you want) in the subject and body of the email. Then hit send.</p>

<p>There should be an icon of a yellow key in the bottom right of the composition window. This means that encryption is on, however, we want this first special message to Edward to be unencrypted. Click the key icon once to turn encryption off. The key should become grey, with a blue dot on it (to alert you that the setting has been changed from the default). Once encryption is off, hit Send.</p>

<p class="notes">It may take two or three minutes for Edward to respond. In the meantime, you might want to skip ahead and check out the <a href="#section5">Use it Well</a> section of this guide. Once he's responded, head to the next step. From here on, you'll be doing just the same thing as when corresponding with a real person.</p>

<p>When you open Edward's reply, Enigmail may prompt you for your password before using your private key to decrypt it.</p>

</div><!-- End .main -->
</div><!-- End #step-3a .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-3b" class="step">
<div class="main">

<h3><em>Step 3.b</em> Send a test encrypted email</h3>

<p>Write a new email in your email program, addressed to edward-en@fsf.org. Make the subject "Encryption test" or something similar and write something in the body.</p>

<p>They key in the bottom right of the window should be yellow, meaning encryption is on. This will be your default from now on.</p>

<p class="notes">Next to the key, you'll notice an icon of a pencil. Clicking this tells Enigmail to add a special, unique signature to your message, generated using your private key. This is a separate feature from encryption, and you don't have to use it for this guide.</p>

<p>Click Send. Enigmail will pop up a window that says "Recipients not valid, not trusted or not found."</p>

<p>To encrypt an email to Edward, you need his public key, so now you'll have Enigmail download it from a keyserver. Click Download Missing Keys and use the default in the pop-up that asks you to choose a keyserver. Once it finds keys, check the first one (Key ID starting with C), then select ok. Select ok in the next pop-up.</p>

<p>Now you are back at the "Recipients not valid, not trusted or not found" screen. Check the box in front of Edward's key and click Send.</p>

<p class="notes">Since you encrypted this email with Edward's public key, Edward's private key is required to decrypt it. Edward is the only one with his private key, so no one except him &mdash; not even you &mdash; can decrypt it.</p>

<!-- ~~~~~~~~~ Troubleshooting ~~~~~~~~~ -->
<div class="troubleshooting">

<h4>Troubleshooting</h4>

<dl>
<dt>Enigmail can't find Edward's key</dt>

<dd>Close the pop-ups that have appeared since you clicked Send. Make sure you are connected to the Internet and try again. If that doesn't work, repeat the process, choosing a different keyserver when it asks you to pick one.</dd>

<dt class="feedback">Don't see a solution to your problem?</dt>

<dd class="feedback">Please let us know on the <a href="https://libreplanet.org/wiki/GPG_guide/Public_Review">feedback page</a>.</dd>
</dl>

</div><!-- /.troubleshooting -->
</div><!-- End .main -->
</div><!-- End #step-3b .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-headers_unencrypted" class="step">
<div class="main">

<h3><em>Important:</em> Security tips</h3>

<p>Even if you encrypted your email, the subject line is not encrypted, so don't put private information there. The sending and receiving addresses aren't encrypted either, so they could be read by a surveillance system. When you send attachments, Enigmail will give you an option of whether you want to encrypt them.</p>

</div><!-- End .main -->
</div><!-- End #step-headers_unencrypted .step-->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-3c" class="step">
<div class="main">

<h3><em>Step 3.c</em> Receive a response</h3>

<p>When Edward receives your email, he will use his private key to decrypt it, then use your public key (which you sent him in <a href="#step-3a">Step 3.A</a>) to encrypt his reply to you.</p>

<p class="notes">It may take two or three minutes for Edward to respond. In the meantime, you might want to skip ahead and check out the <a href="#section5">Use it Well</a> section of this guide.</p>

<p>When you receive Edward's email and open it, Enigmail will automatically detect that it is encrypted with your public key, and then it will use your private key to decrypt it.</p>

<p>Notice the bar that Enigmail shows you above the message, with information about the status of Edward's key.</p>

</div><!-- End .main -->
</div><!-- End #step-3c .step -->

<!-- STEP 3D IS COMMENTED OUT UNTIL WE FIND A WAY TO VALIDATE SIGNATURES <div id="step-3d" class="step">
<div class="main">

<h3><em>Step 3.d</em> Send a test signed email to a friend</h3>

<p>Write a new email in your email program, addressed to a friend. If you want, tell them about this guide!</p>

<p>Before sending the email, click the icon of the pencil in the bottom right of the composition window (it should turn yellow). This tells Enigmail to sign the email with you private key.</p>

<p>After you click send, Enigmail will ask you for your password. It will do this any time it needs to use your public key.</p>

</div>
</div>-->
</div></section><!-- End #section3 -->

<!-- ~~~~~~~~~ Section 4: Learn the Web of Trust ~~~~~~~~~ -->
<section class="row" id="section4"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro">

<h2><em>#4</em> Learn the Web of Trust</h2>

<p>Email encryption is a powerful technology, but it has a weakness; it requires a way to verify that a person's public key is actually theirs. Otherwise, there would be no way to stop an attacker from making an email address with your friend's name, creating keys to go with it and impersonating your friend. That's why the free software programmers that developed email encryption created keysigning and the Web of Trust.</p>

<p>When you sign someone's key, you are publicly saying that you trust that it does belong to them and not an impostor. People who use your public key can see the number of signatures it has. Once you've used GnuPG for a long time, you may have hundreds of signatures. The Web of Trust is the constellation of all GnuPG users, connected to each other by chains of trust expressed through signatures, forming a giant network. The more signatures a key has, and the more signatures its signers' keys have, the more trustworthy that key is.</p>

<p>People's public keys are usually identified by their key fingerprint, which is a string of digits like F357AA1A5B1FA42CFD9FE52A9FF2194CC09A61E8 (for Edward's key). You can see the fingerprint for your public key, and other public keys saved on your computer, by going to Enigmail &rarr; Key Management in your email program's menu, then right clicking on the key and choosing Key Properties. It's good practice to share your fingerprint wherever you share your email address, so that people can double-check that they have the correct public key when they download yours from a keyserver.</p>

<p class="notes">You may also see public keys referred to by their key ID, which is simply the last 8 digits of the fingerprint, like C09A61E8 for Edward. The key ID is visible directly from the Key Management window. This key ID is like a person's first name (it is a useful shorthand but may not be unique to a given key), whereas the fingerprint actually identifies the key uniquely without the possibility of confusion. If you only have the key ID, you can still look up the key (as well as its fingerprint), like you did in Step 3, but if multiple options appear, you'll need the fingerprint of the person to whom are trying to communicate to verify which one to use.</p>

</div><!-- End .section-intro -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-4a" class="step">
<div class="sidebar">

<p><img src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/section4-web-of-trust.png"
alt="Section 4: Web of Trust" /></p>

</div><!-- /.sidebar -->
<div class="main">

<h3><em>Step 4.a</em> Sign a key</h3>

<p>In your email program's menu, go to Enigmail &rarr; Key Management.</p>

<p>Right click on Edward's public key and select Sign Key from the context menu.</p>

<p>In the window that pops up, select "I will not answer" and click ok.</p>

<p>Now you should be back at the Key Management menu. Select Keyserver &rarr; Upload Public Keys and hit ok.</p>

<p class="notes">You've just effectively said "I trust that Edward's public key actually belongs to Edward." This doesn't mean much because Edward isn't a real person, but it's good practice.</p>

<!--<div id="pgp-pathfinder">

<form enctype="application/x-www-form-urlencoded" action="/mk_path.cgi" method="get">

<p><strong>From:</strong>
<input type="text" placeholder="xD41A008" name="FROM"></p>

<p><strong>To:</strong>
<input type="text" placeholder="50BD01x4" name="TO"></p>

<p class="buttons"><input type="submit" value="trust paths" name="PATHS">
<input type="reset" value="reset" name=".reset"></p>

</form>

</div><!-- End #pgp-pathfinder -->
</div><!-- End .main -->
</div><!-- End #step-4a .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-sign_real_keys" class="step">
<div class="main">

<h3><em>Important:</em> check people's identification before signing their keys</h3>

<p>Before signing a real person's key, always make sure it actually belongs to them, and that they are who they say they are. Ask them to show you their ID (unless you trust them very highly) and their public key fingerprint -- not just the shorter public key ID, which could refer to another key as well. In Enigmail, answer honestly in the window that pops up and asks "How carefully have you verified that the key you are about to sign actually belongs to the person(s) named above?".</p>

</div><!-- End .main -->
</div><!-- End #step-sign_real_keys .step-->
</div></section><!-- End #section4 -->

<!-- ~~~~~~~~~ Section 5: Use it well ~~~~~~~~~ -->
<section id="section5" class="row"><div>

<!-- ~~~~~~~~~ section introduction: interspersed text ~~~~~~~~~ -->
<div class="section-intro">

<h2><em>#5</em> Use it well</h2>

<p>Everyone uses GnuPG a little differently, but it's important to follow some basic practices to keep your email secure. Not following them, you risk the privacy of the people you communicate with, as well as your own, and damage the Web of Trust.</p>

</div><!-- End .section-intro -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-5a" class="step">
<div class="sidebar">

<p><img src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/section5-01-use-it-well.png"
alt="Section 5: Use it Well (1)" /></p>

</div><!-- /.sidebar -->
<div class="main">

<h3>When should I encrypt?</h3>

<p>The more you can encrypt your messages, the better. If you only encrypt emails occasionally, each encrypted message could raise a red flag for surveillance systems. If all or most of your email is encrypted, people doing surveillance won't know where to start.</p>

<p>That's not to say that only encrypting some of your email isn't helpful -- it's a great start and it makes bulk surveillance more difficult.</p>

</div><!-- End .main -->
</div><!-- End #step-5a .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-5b" class="step">
<div class="sidebar">

<p><img src="//static.fsf.org/nosvn/enc-dev0/img/en/screenshots/section5-02-use-it-well.png"
alt="Section 5: Use it Well (2)" /></p>

</div><!-- /.sidebar -->
<div class="main">

<h3><em>Important:</em> Be wary of invalid keys</h3>

<p>GnuPG makes email safer, but it's still important to watch out for invalid keys, which might have fallen into the wrong hands. Email encrypted with invalid keys might be readable by surveillance programs.</p>

<p>In your email program, go back to the second email that Edward sent you. Because Edward encrypted it with your public key, it will have a message from Enigmail at the top, which most likely says "Enigmail: Part of this message encrypted."</p>

<p><b>When using GnuPG, make a habit of glancing at that bar. The program will warn you there if you get an email encrypted with a key that can't be trusted.</b></p>

</div><!-- End .main -->
</div><!-- End #step-5b .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-5c" class="step">
<div class="main">

<h3>Copy your revocation certificate to somewhere safe</h3>

<p>Remember when you created your keys and saved the revocation certificate that GnuPG made? It's time to copy that certificate onto the safest digital storage that you have -- the ideal thing is a flash drive, disk, or hard drive stored in a safe place in your home.</p>

<p>If your private key ever gets lost or stolen, you'll need this certificate file to let people know that you are no longer using that keypair.</p>

</div><!-- End .main -->
</div><!-- End #step-5c .step -->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~ -->
<div id="step-lost_key" class="step">
<div class="main">

<h3><em>Important:</em> act swiftly if someone gets your private key</h3>

<p>If you lose your private key or someone else gets ahold of it (say, by stealing or cracking your computer), it's important to revoke it immediately before someone else uses it to read your encrypted email. This guide doesn't cover how to revoke a key, but you can follow the <a href="https://www.gnupg.org/gph/en/manual.html#AEN305">instructions on the GnuPG site</a>. After you're done revoking, send an email to everyone with whom you usually use your key to make sure they know.</p>

</div><!-- End .main -->
</div><!-- End #step-lost_key .step-->

<!-- ~~~~~~~~~ a div for each step ~~~~~~~~~
<div id="step-5d" class="step">
<div class="main">

<h3>Make your public key part of your online identity</h3>

<p> First add your public key fingerprint to your email signature, then compose an email to at least five of your friends, telling them you just set up GnuPG and mentioning your public key fingerprint. Link to this guide and ask them to join you. Don't forget that there's also an awesome <a href="infographic.html">infographic to share.</a></p>

<p class="notes">Start writing your public key fingerprint anywhere someone would see your email address: your social media profiles, blog, Website, or business card. (At the Free Software Foundation, we put ours on our <a href="https://fsf.org/about/staff">staff page</a>.) We need to get our culture to the point that we feel like something is missing when we see an email address without a public key fingerprint.</p>

</div><!-- End .main
</div> End #step-5d .step-->
</div></section><!-- End #section5 -->

<!-- ~~~~~~~~~ Section 6: Next steps ~~~~~~~~~ -->
<section class="row" id="section6">
<div id="step-click_here" class="step">
<div class="main">

<h2><a href="next_steps.html">Great job! Check out the next steps.</a></h2>

</div><!-- End .main -->
</div><!-- End #step-click_here .step-->
</section><!-- End #section6 -->

<!-- ~~~~~~~~~ FAQ ~~~~~~~~~ -->
<!-- When un-commenting this section go to main.css and search for /* Guide Sections Background */ then add #faq to the desired color <section class="row" id="faq">
<div>
<div class="sidebar">

<h2>FAQ</h2>

</div>
<div class="main">

<dl>
<dt>My key expired</dt>

<dd>Answer coming soon.</dd>

<dt>Who can read encrypted messages? Who can read signed ones?</dt>

<dd>Answer coming soon.</dd>

<dt>My email program is opening at times I don't want it to open/is now my default program and I don't want it to be.</dt>

<dd>Answer coming soon.</dd>
</dl>

</div>
</div>
</section> --><!-- End #faq -->

<!-- include virtual="footer.html" -->

<!-- include virtual="javascript.html" -->
